<app-ui-element [disabled]="mobileMode">
    <div class="body">
        <div class="chat-container">
            <div class="chat-header">
                <h2>Chat Room</h2>
            </div>
            <div class="chat-messages">
                <div *ngFor="let message of reverseOrderOfList(sentMessages)"
                    class="message background-{{message.type}} {{getYourMessageClass(message, 'background')}}">
                    <div style="word-wrap: break-word;">
                        <strong class="nameColor-{{message.type}} {{getYourMessageClass(message, 'nameColor')}}"
                            *ngIf="message.type == ''">
                            {{ message.username }}<span *ngIf="showNumber(message)">#{{message.uid}}</span>
                        </strong>
                        <strong class="nameColor-{{message.type}} {{getYourMessageClass(message, 'nameColor')}}"
                            *ngIf="message.type != ''">
                            <span>{{getEmojiByMessage(message)}}</span>{{ message.username }}<span
                                *ngIf="showNumber(message)">#{{message.uid}}</span>
                        </strong> ({{ getCorrectTime(message) }}): <div [innerHTML]="sanitizeHtml(message.content)">
                        </div>
                    </div>
                </div>
            </div>
            <div class="chat-input">
                <input type="text" placeholder="Type your message..." [(ngModel)]="messageBoxInput" (input)="onChange()"
                    (keydown.enter)="onEnterPress()" [maxlength]="maxMessageLength" />
                <button (click)="showEmojiPanel()" class="chatButton"
                    style="background-color: gray; padding: 2px 16px; margin-right: 10px;"><mat-icon>emoji_emotions</mat-icon></button>
                <button (click)="sendMessage()" class="chatButton">Send</button>
            </div>
            <div class="emojiContainer flex" *ngIf="emojiPanel">
                <div *ngFor="let emoji of emojiList" (click)="addEmojiToInput(emoji.code)" class="emoji flex"
                    title="{{emoji.code}}">
                    <p>{{emoji.emoji}}</p>
                </div>
            </div>
        </div>
    </div>
</app-ui-element>