<div class="chat-container">
    <div class="chat-header">
        <h2>Chat Room</h2>
    </div>
    <div class="chat-messages">
        <div *ngFor="let message of reverseOrderOfList(sentMessages)"
            class="message background-{{message.type}} {{getYourMessageClass(message, 'background')}}">
            <div style="word-wrap: break-word;">
                <strong class="nameColor-{{message.type}} {{getYourMessageClass(message, 'nameColor')}}"
                    *ngIf="message.type != 'oldmartijntje'">
                    {{ message.username }}<span
                        *ngIf="!message.yours && message.username != 'SYSTEM' && message.username != 'SERVER'">#{{message.uid}}</span>
                </strong>
                <strong class="nameColor-{{message.type}} {{getYourMessageClass(message, 'nameColor')}}"
                    *ngIf="message.type == 'oldmartijntje'">
                    👑{{ message.username }}<span *ngIf="!message.yours">#{{message.uid}}</span>
                </strong> ({{ message.datetime }}): <div [innerHTML]="sanitizeHtml(message.content)"></div>
            </div>
        </div>
    </div>
    <div class="chat-input">
        <input type="text" placeholder="Type your message..." [(ngModel)]="messageBoxInput" (input)="onChange()"
            (keydown.enter)="onEnterPress()" [maxlength]="maxMessageLength" />
        <button (click)="sendMessage()">Send</button>
    </div>
</div>