.chat-container {
    max-width: 600px;
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;

    .chat-header {
        background-color: #3498db;
        color: #fff;
        padding: 10px;
        text-align: center;
    }

    .chat-messages {
        height: 300px;
        padding: 10px;
        overflow: auto;
        display: flex;
        flex-direction: column-reverse;

        /* Style individual messages if needed */
        .message {
            margin-bottom: 10px;
            padding: 5px;
            border-radius: 5px;
            background-color: #1d1b1b;
        }

        .background-error {
            background-color: #4e3534;
        }

        .background-system {
            background-color: #3e3e3e;
        }

        .background-warning {
            background-color: #413a2a;
        }

        .background-yours {
            background-color: #002a44;
        }

        .background-oldmartijntje {
            background-color: #8156c3;
        }
    }

    .chat-input {
        display: flex;
        align-items: center;
        padding: 10px;

        input {
            flex: 1;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-right: 10px;
        }

        button {
            background-color: #4caf50;
            color: #fff;
            border: none;
            padding: 8px 16px;
            border-radius: 5px;
            cursor: pointer;
        }
    }
}

.nameColor-oldmartijntje {
    color: #ccc200;
    background-color: #1f1f1f;
    border-radius: 5px;
    padding: 2px;
    margin-right: 2px;
}

.nameColor-system {
    color: #0e0c1d;
}

.nameColor-yours {
    color: #0087dc;
}

.nameColor-error {
    color: #ff8080;
}

.nameColor-warning {
    color: #f2a028;
}

.chatButton {
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}

.emojiContainer {
    user-select: none;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    overflow-y: scroll;
    max-height: 600px;

    .emoji {
        max-width: 200px;
        word-wrap: break-word;
        margin: 5px;
        cursor: pointer;
        background-color: grey;
        border-radius: 5px;
        padding: 2px;
        max-height: 40px;
        min-width: 3rem;

        justify-content: center;
        align-items: center;
        overflow: hidden;


        p {
            margin: 0;
        }
    }
}

.flex {
    display: flex;
}