.chat-container {
    max-width: 600px;
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;

    .chat-header {
        background-color: #3498db;
        color: #fff;
        padding: 10px;
        text-align: center;
    }

    .chat-messages {
        height: 300px;
        padding: 10px;
        overflow: auto;
        display: flex;
        flex-direction: column-reverse;

        /* Style individual messages if needed */
        .message {
            margin-bottom: 10px;
            padding: 5px;
            border-radius: 5px;
            background-color: #1d1b1b;
        }
    }

    .chat-input {
        display: flex;
        align-items: center;
        padding: 10px;

        input {
            flex: 1;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-right: 10px;
        }

        button {
            background-color: #4caf50;
            color: #fff;
            border: none;
            padding: 8px 16px;
            border-radius: 5px;
            cursor: pointer;
        }
    }
}

.nameColor-oldmartijntje {
    color: #ccc200;
}

.nameColor-system {
    color: #454545;
}

.nameColor-yours {
    color: #c26c36;
}