<app-application-page *ngIf="showWindows && !mobileMode['MobileMode']">
    <router-outlet></router-outlet>
</app-application-page>
<div *ngIf="showWindows && mobileMode['MobileMode']"
    style="background-image: url('https://i.imgur.com/yOpoaJH.jpg'); height:100%">
    <img *ngIf="mobileMode['MobileUser'] && mobileModePopup && !ignoreDisclaimer" src="../assets/images/mobileUser.png"
        alt="" (click)="mobileModePopup = false" style="width:100%;">
    <app-mobile-application-page *ngIf="!mobileMode['MobileUser'] || !mobileModePopup || ignoreDisclaimer">
        <router-outlet></router-outlet>
    </app-mobile-application-page>
</div>
<div *ngIf="!showWindows && mobileMode['MobileMode']">
    <div *ngIf="mobileModePopup && !ignoreDisclaimer" (click)="mobileModePopup = false" class="mobileMode">
        <div class="disclaimerContainer">
            <img class="disclaimer" src="../assets/images/mobileUserRegularCopyright.png" alt="copyright"
                style="z-index: 2;">
            <img class="disclaimer" src="../assets/images/mobileUserRegular4.png" alt="disclaimer image"
                style="z-index: 1;">
        </div>
    </div>
    <router-outlet *ngIf="!mobileModePopup || ignoreDisclaimer"></router-outlet>
</div>
<router-outlet *ngIf="!showWindows && !mobileMode['MobileMode']"></router-outlet>
<app-toast></app-toast>