<app-editor-page *ngIf="showEditor">
    <router-outlet></router-outlet>
</app-editor-page>
<app-application-page *ngIf="!showEditor && showWindows && !mobileMode['MobileMode']">
    <router-outlet></router-outlet>
</app-application-page>
<div *ngIf="!showEditor && showWindows && mobileMode['MobileMode']"
    style="background-image: url('https://i.imgur.com/yOpoaJH.jpg'); height:100%">
    <img *ngIf="mobileMode['MobileUser'] && mobileModePopup" src="../assets/images/mobileUser.png" alt=""
        (click)="mobileModePopup = false" style="width:100%;">
    <app-mobile-application-page *ngIf="!mobileMode['MobileUser'] || !mobileModePopup">
        <router-outlet></router-outlet>
    </app-mobile-application-page>
</div>

<router-outlet *ngIf="!showEditor && !showWindows"></router-outlet>
<app-toast></app-toast>