$primary-color: #1db954;
$secondary-color: #191414;
$background-color: #111;
$backgroundShade1: #282828;
$backgroundShade2: #333333;
$primary-text-color: #000000;
$secondary-text-color: #ffffff;
$background-text-color: #ffffff;
$toast-info-background-color: #434343;
$toast-info-text-color: #ffffff;
$toast-info-close-color: #f60000;
$toast-warning-background-color: #543c00;
$toast-warning-text-color: #f1b900;
$toast-warning-close-color: #ff0000;
$toast-error-background-color: #470000;
$toast-error-text-color: #828282;
$toast-error-close-color: #ff0000;
$toast-secondary-color: rgba(0, 0, 0, 0.295);
$popup-menu-background: #131025;
$popup-menu-button-background: #16122b;
$popup-menu-button-background-hover: #5f4195;
$popup-menu-button-text: #ffffff;
$popup-menu-text: #ffffff;

body {
    margin: 0;
    background-color: $background-color;
    color: $secondary-text-color;
    overflow: hidden;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.error,
.ERROR {
    color: $toast-error-text-color;
    background-color: $toast-error-background-color;
}

.warning,
.WARNING {
    color: $toast-warning-text-color;
    background-color: $toast-warning-background-color;
}