@import '../../../../styles.scss';

.fullPage {
    height: 100%;
    width: 100%;
    background-image: url("../../../../assets/images/Background.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

p {
    margin: 0
}

.backgroundColor {
    background-color: $backgroundShade1;
}

a,
a:visited {
    color: $primary-color;
}

.height-cap-vh {
    max-height: 100svh;
    overflow: hidden;
}

.background {
    background-color: $background-color;
}

.container,
.pageContainer {
    height: 100%;
    width: 100%;
}

@media only screen and (min-width: 1024px) {
    .pageContainer {
        height: 100vh;
        width: 70%;
        min-width: 1000px;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }

    .flex,
    footer,
    .sidebarBox,
    .row {
        display: flex;
    }

    .sidebarBox,
    .row {
        margin-left: 0.5rem;
    }

    .row {
        flex-direction: row;
    }

    footer,
    .row,
    .sidebarBox {
        align-items: start;
        column-gap: 0.5rem;
        row-gap: 0.5rem;
    }

    footer,
    .sidebarBox {
        flex-direction: column;
    }

    .container {
        height: 80%;
        width: 100%;
        flex-direction: row;
        margin: auto;
    }

    .sidePanel {
        background-color: $backgroundShade1;
        width: 100%;
        height: 100%;
    }

    header {
        background: rgb(255, 0, 191);
        background: radial-gradient(circle, rgba(255, 0, 191, 1) 0%, rgba(0, 127, 255, 1) 54%, rgba(255, 112, 0, 1) 100%);
        height: 20%;
        width: 100%;
    }

    footer {
        background-color: $backgroundShade2;
        height: 10%;
        width: 100%;
    }
}

#old:hover {
    color: #ff00bf;
}

#martijn:hover {
    color: #007fff;
}

#tje:hover {
    color: #ff7000;
}

::-webkit-scrollbar {
    width: 10px;
    /* remove scrollbar space */
    background: $backgroundShade1;
    /* optional: just make scrollbar invisible */
    border-radius: 15pt;
}

/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: $primary-color;
    border-radius: 15pt;
}

#gameTheoryMain {
    width: 150px;
    height: 150px;
    background-color: #000000;
    border-radius: 55%;
    padding: 15px;
}

#gameTheoryGrid-container {
    display: grid;
    position: relative;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
    width: 100%;
    height: 100%;
}

.grid-item {
    width: 100%;
    height: 100%;
    background-color: #5e5855;
}

.grid-item:nth-child(1) {
    border-radius: 100% 0 0 0;
}

.grid-item:nth-child(2) {
    border-radius: 0 100% 0 0;
}

.grid-item:nth-child(3) {
    border-radius: 0 0 0 100%;
}

.grid-item:nth-child(4) {
    border-radius: 0 0 100% 0;
}

.grid-item:nth-child(1):hover,
.locked:nth-child(1) {
    background-color: #06d31d;
    /* Green */
}

.grid-item:nth-child(2):hover,
.locked:nth-child(2) {
    background-color: #cc2017;
    /* Red */
}

.grid-item:nth-child(3):hover,
.locked:nth-child(3) {
    background-color: #bae804;
    /* Yellow */
}

.grid-item:nth-child(4):hover,
.locked:nth-child(4) {
    background-color: #0667cf;
    /* Blue */
}

#gameTheoryCircle {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 110px;
    height: 110px;
    background-color: #000000;
    border-radius: 50%;
}