@import '../../../../styles.scss';

.fullPage {
    height: 100%;
    width: 100%;
    background-image: url("../../../../assets/images/Background.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.background {
    background-color: $background-color;
}

.container,
.pageContainer {
    height: 100%;
    width: 100%;
}

@media only screen and (min-width: 1024px) {
    .pageContainer {
        height: 100vh;
        width: 70%;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }

    .flex {
        display: flex;
    }

    .container {
        height: 80%;
        width: 100%;
        flex-direction: row;
        margin: auto;
    }

    .sidePanel {
        background-color: #8156c3;
        width: 100%;
        height: 100%;
    }

    header {
        background-color: #333;
        height: 20%;
        width: 100%;
    }

    footer {
        background-color: #333;
        height: 10%;
        width: 100%;
    }


}