<div class="fullPage">
    <div class="pageContainer flex">
        <header *ngIf="isWideScreen" style="display: flex; align-items: center; justify-content: center;">
            <h1 style="cursor: pointer;">
                <span title="#ff00bf" id="old"
                    (click)="goToWebPage('https://www.colorhexa.com/ff00bf', true)">Old</span><span title="#007fff"
                    id="martijn" (click)="goToWebPage('https://www.colorhexa.com/007fff', true)">Martijn</span><span
                    title="#ff7000" id="tje" (click)="goToWebPage('https://www.colorhexa.com/ff7000', true)">tje</span>
            </h1>
        </header>
        <div class="container flex">
            <div class="sidePanel" *ngIf="isWideScreen">
                <div class="sidebarBox">
                    <h1>Tabs:</h1>
                    <a [routerLink]="['/Home']">HomePage</a>
                    <a [routerLink]="['/Chat']">Chat</a>
                    <a [routerLink]="['/Player']">Text-adventures</a>
                    <a [routerLink]="['/Projects']">Projects</a>
                    <a [routerLink]="['/ItemDisplay']">Random WebThings</a>
                    <a [routerLink]="['/AdBee']"
                        [queryParams]="{nav: '104,116,116,112,115,58,47,47,119,119,119,46,121,111,117,116,117,98,101,46,99,111,109,47,119,97,116,99,104,63,118,61,100,81,119,52,119,57,87,103,88,99,81'}">AdBee</a>
                </div>
            </div>
            <div style="height: 100%; width: 100%; display: flex; flex-direction: column;">
                <div *ngIf="!isWideScreen" class="backgroundColor"
                    [ngStyle]="{'min-width':customWidthOfContent, 'max-width': maxWidthOfContent}"
                    style="flex-grow: 1; padding: 0.5rem; display: flex; flex-direction: row; column-gap: 0.5rem; flex-wrap: wrap;">
                    <a [routerLink]="['/Home']">HomePage</a>
                    <a [routerLink]="['/Chat']">Chat</a>
                    <a [routerLink]="['/Player']">Text-adventures</a>
                    <a [routerLink]="['/Projects']">Projects</a>
                    <a [routerLink]="['/ItemDisplay']">Random WebThings</a>
                    <a [routerLink]="['/AdBee']"
                        [queryParams]="{nav: '104,116,116,112,115,58,47,47,119,119,119,46,121,111,117,116,117,98,101,46,99,111,109,47,119,97,116,99,104,63,118,61,100,81,119,52,119,57,87,103,88,99,81'}">AdBee</a>
                </div>
                <div [ngStyle]="{'min-width':customWidthOfContent, 'max-width': maxWidthOfContent, 'height': heightOfContent}"
                    style="overflow: hidden;" class="background">
                    <ng-content style="height: 100%;"></ng-content>
                </div>
            </div>
            <div class="sidePanel" *ngIf="isWideScreen" style="overflow: hidden;">
                <iframe
                    style="border:none; margin-top: 0.5rem; max-width: 180px; max-height: 180px; width: 100%; aspect-ratio: 1 / 1;"
                    src="https://dimden.neocities.org/navlink/" name="neolink"></iframe>
                <div style="display: flex;">
                    <p (click)="goToWebPage('https://hotlinewebring.club/oldma/previous')" style="cursor: pointer;">←
                    </p>
                    <p (click)="goToWebPage('https://hotlinewebring.club')" style="cursor: pointer;">Hotline Webring</p>
                    <p (click)="goToWebPage('https://hotlinewebring.club/oldma/next')" style="cursor: pointer;">→</p>
                </div>
            </div>
        </div>
        <footer *ngIf="isWideScreen">
            <div class="row">
                <p>Made by OldMartijntje</p>
            </div>
            <div class="row">
                <p>Socials:</p>
                <a href="https://github.com/oldmartijntje">Github</a>
                <a href="https://discord.gg/YUSSpNCdGA">Discord</a>
            </div>
        </footer>
    </div>
</div>