<div class="body" *ngIf="!intro && !editing && !runtimeError">
    <header *ngIf="false">
        <p>optional</p>
    </header>
    <div class="screen" [ngStyle]="scene.styling">
        <div class="save icon" style="display: flex; flex-direction: row-reverse; justify-content: space-between; ">
            <img src="../../../../assets/icons/saveButton.png" alt="Save Button"
                style="cursor: pointer; user-select:none;" title="Save Button" (click)="emitSavingEvent()"
                *ngIf="showSaveIcon" class="image">
            <img src="../../../../assets/icons/exitButton.png" alt="Close Button"
                style="cursor: pointer; user-select:none;" title="Exit Button" (click)="emitExitEvent()"
                *ngIf="showExitButton" class="image">
        </div>
        <div class="textbox" [ngStyle]="getStyling('prompt')">
            {{getText()}}
        </div>
    </div>
    <div class="optionBar" *ngIf="showChoices()">
        <div class="option" *ngFor="let option of getAllChoices()" (click)="clickChoice(option)"
            [ngStyle]="getStyling(option)">
            <p>{{option.text}}</p>
        </div>
    </div>
    <div class="optionBar" *ngIf="!showChoices()">
        <div class="option" (click)="clickChoice()" [ngStyle]="getStyling()">
            <p>{{getTextForTextBox()}}</p>
        </div>
    </div>
</div>
<div *ngIf="intro && !editing && !runtimeError" class="body">
    <app-glitch-text [text]="'Powered by'" [locationStyling]="{'margin-top': '20%'}"
        [href]="'https://github.com/oldmartijntje/Angular-components'"
        [textStyling]="{'font-size': '2rem', 'cursor': 'pointer'}"></app-glitch-text>
    <app-glitch-text [text]="'OldMartijntje'" [locationStyling]="{'margin-top': '7%'}"
        [textStyling]="{'cursor': 'pointer'}"
        [href]="'https://github.com/oldmartijntje/Angular-components'"></app-glitch-text>
    <app-glitch-text [text]="'You can use this for free.'" [locationStyling]="{'margin-top': '10%'}"
        [textStyling]="{'font-size': '2rem', 'cursor': 'pointer'}"
        [href]="'https://github.com/oldmartijntje/Angular-components'"></app-glitch-text>
</div>
<div class="body scroll" *ngIf="editing && !runtimeError">
    <div class="save icon" style="display: flex; flex-direction: row-reverse; justify-content: space-between; ">
        <img src="../../../../assets/icons/saveButton.png" alt="Save Button" style="cursor: pointer; user-select:none;"
            title="Save Button" (click)="emitSavingEvent()" *ngIf="showSaveIcon" class="image">
        <img src="../../../../assets/icons/exitButton.png" alt="Close Button" style="cursor: pointer; user-select:none;"
            title="Exit Button" (click)="emitExitEvent()" *ngIf="showExitButton" class="image">
        <button mat-raised-button (click)="removeUnusedParamaters(true)" color="warn">remove Useless data</button>
        <button mat-raised-button (click)="debug()">debug</button>
    </div>
    <table mat-table [dataSource]="currentWarnings" class="mat-elevation-z8"
        *ngIf="hiddenWarnings && currentWarnings.length > 0">

        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element" class="{{element.severity}}"> {{element.position}} </td>
        </ng-container>

        <ng-container matColumnDef="warning">
            <th mat-header-cell *matHeaderCellDef> Warning </th>
            <td mat-cell *matCellDef="let element" class="{{element.severity}}"> {{element.warning}} </td>
        </ng-container>

        <ng-container matColumnDef="severity">
            <th mat-header-cell *matHeaderCellDef> Severity </th>
            <td mat-cell *matCellDef="let element" class="{{element.severity}}"> {{element.severity}} </td>
        </ng-container>

        <ng-container matColumnDef="where">
            <th mat-header-cell *matHeaderCellDef> Where </th>
            <td mat-cell *matCellDef="let element" class="{{element.severity}}"> {{element.where}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['position', 'warning', 'severity', 'where']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['position', 'warning', 'severity', 'where']; let i = index"></tr>
    </table>
    <div>
        <button mat-raised-button color="accent" (click)="currentWarnings = checkForWarnings()">check for
            warnings</button>
        <button *ngIf="currentWarnings.length > 0 && hiddenWarnings" mat-raised-button color="accent"
            (click)="hiddenWarnings = false">hide
            warnings</button>
        <button *ngIf="currentWarnings.length > 0 && !hiddenWarnings" mat-raised-button color="accent"
            (click)="hiddenWarnings = true">show
            warnings</button>
    </div>
    <div>
        <mat-form-field>
            <mat-label>Editor Page</mat-label>
            <mat-select [(ngModel)]="currentEditorPage" (ngModelChange)="editorTabChange()">
                @for (page of editorValues['editorPage']; track page) {
                <mat-option [value]="page.value">{{page.viewValue}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
    </div>
    <div id="slideEditor" *ngIf="currentEditorPage == 'slide'">
        <!-- name of slide in an input box, and a button to rename it. -->
        <h1>current slide: '{{currentSlide}}'</h1>
        <h2 *ngIf="changesMade" class="warning">Current changes to this slide aren't saved!</h2>
        <button *ngIf="createNewSlideButton" mat-raised-button color="primary"
            (click)="createSlide(currentAutocompleteValue, {'setAutocomplete': true, 'removeCreateButton': true})">Create
            '{{currentAutocompleteValue}}'
            slide</button>
        <button (click)="deleteSlide(currentSlide)" mat-raised-button color="warn" *ngIf="!confirmDelete">Delete slide
            '{{currentSlide}}'</button>
        <button (click)="deleteSlide(currentSlide)" mat-raised-button color="warn" *ngIf="confirmDelete">Confirm to
            Delete slide
            '{{currentSlide}}'</button>
        <form>
            <mat-form-field>
                <mat-label>Slide selector</mat-label>
                <input type="text" placeholder="Pick one" aria-label="Slide" matInput [formControl]="searchControl"
                    placeholder="Select an slide" [matAutocomplete]="selectSlideAutocomplete">
                @if (currentAutocompleteValue) {
                <button matSuffix mat-icon-button aria-label="Clear" (click)="setValueOfAutocomplete('')">
                    <mat-icon>close</mat-icon>
                </button>
                }
                <mat-autocomplete #selectSlideAutocomplete="matAutocomplete">
                    <mat-option *ngFor="let option of filteredData" [value]="option.id + ': ' + option.type">
                        {{option.id}}: {{option.type}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </form>
        <button mat-raised-button color="primary" (click)="saveEditing('slide')">Save Slide</button>
        <div *ngIf="slide['type'] != 'variable' && slide['type'] != 'playSound'">
            <mat-form-field>
                <mat-label>Scene</mat-label>
                <mat-select [(ngModel)]="slide['scene']" (ngModelChange)="slideSceneChange()">
                    @for (scene of editorValues['scenes']; track scene) {
                    <mat-option [value]="scene.value">{{scene.viewValue}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
            <div *ngIf="slide['scene'] != '-1' && doesThisSceneExist(slide['scene'])">
                <hr>
                <p>scene preview:</p>
                <div [ngStyle]="scene.styling" class="previewScene">
                    <button mat-raised-button color="primary" (click)="tryToPlayAudio('scene')"
                        *ngIf="scene['music'] != undefined">Test
                        Audio</button>
                </div>
                <hr>
            </div>
            <p *ngIf="slide['scene'] == '-1'">With scene set to NONE, it'll use the scene it has loaded from a
                previous slide.</p>
            <p *ngIf="slide['scene'] != '-1' && !doesThisSceneExist(slide['scene'])" class="warning">The selected
                Scene
                does not exist. The app will take the default Scene instead.</p>
        </div>
        <div *ngIf="slide['type'] != 'variable' && slide['type'] != 'playSound'">
            <mat-form-field>
                <mat-label>Prompt Styling</mat-label>
                <mat-select [(ngModel)]="slide['promptStyling']" (ngModelChange)="setEditedValue(true)">
                    @for (scene of editorValues['styles']; track scene) {
                    <mat-option [value]="scene.value">{{scene.viewValue}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="slide['type'] != 'choice'">
                <mat-label>NextSlide-Button Styling</mat-label>
                <mat-select [(ngModel)]="slide['style']" (ngModelChange)="setEditedValue(true)">
                    @for (scene of editorValues['styles']; track scene) {
                    <mat-option [value]="scene.value">{{scene.viewValue}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
            <p *ngIf="slide['style'] == '-1' || slide['promptStyling'] == '-1'">With style set to NONE, it'll use the
                default styling selected in the default tab.</p>
        </div>
        <div *ngIf="slide['type'] != 'variable' && slide['type'] != 'playSound'">
            <p>Textbox</p>
            <textarea class="betterInput" name="" id="" cols="40" rows="1" [(ngModel)]="slide['text']"
                (ngModelChange)="setEditedValue(true)"></textarea>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Slide Mode</mat-label>
                <mat-select [(ngModel)]="slide['type']" (ngModelChange)="slideTypeChange()">
                    @for (mode of editorValues['slideModes']; track mode) {
                    <mat-option [value]="mode.value">{{mode.viewValue}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </div>
        <h2 *ngIf="slide['next'] == '-1' && slide['type'] != 'choice'" class="error">'-1' is not a valid slide</h2>
        <div *ngIf="slide['next'] != '-1' && !doesThisSlideExist(slide['next']) && slide['type'] != 'choice'">
            <h2 class="warning">This Slide '{{slide['next']}}' does not
                exist, add it.</h2>
            <button mat-raised-button color="primary" (click)="createSlide(slide['next'])">Create Slide
                '{{slide['next']}}'</button>
        </div>

        <div *ngIf="slide['type'] == 'choice'">
            <!-- choice -->
            <!-- autoSelectrandom -->
            <!-- shuffleOrder -->
            <!-- whole if tab -->
            <!-- disabledStyle -->
            <h2 *ngIf="slide['choices'] == undefined || slide['choices'].length == 0" class="error">This is a dead
                end, add some choices!</h2>
            <div *ngFor="let choice of slide['choices']; let i = index">
                <div>
                    <p>Text of option</p>
                    <input class="betterInput" type="text" [(ngModel)]="choice['text']"
                        (ngModelChange)="setEditedValue(true)">
                </div>
                <div>
                    <p>Goes to Slide</p>
                    <input class="betterInput" type="text" [(ngModel)]="choice['next']"
                        (ngModelChange)="setEditedValue(true)">
                </div>
                <h2 *ngIf="choice['next'] == '-1'" class="error">'-1' is not a valid slide</h2>
                <div *ngIf="choice['next'] != '-1' && !doesThisSlideExist(choice['next'])">
                    <h2 class="warning">This Slide
                        '{{choice['next']}}' does not exist, add it.</h2>
                    <button mat-raised-button color="primary" (click)="createSlide(choice['next'])">Create Slide
                        '{{choice['next']}}'</button>
                </div>
                <div>
                    <mat-form-field>
                        <mat-label>Choice Styling</mat-label>
                        <mat-select [(ngModel)]="choice['style']" (ngModelChange)="setEditedValue(true)">
                            @for (style of editorValues['styles']; track style) {
                            <mat-option [value]="style.value">{{style.viewValue}}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                    <p *ngIf="choice['style'] == '-1' || choice['style'] == undefined">
                        With style set to NONE, it'll
                        use the
                        default styling selected in the default tab.</p>
                </div>
                <button mat-raised-button color="warn" (click)="deleteOption(i)">delete</button>
                <!-- advanced -->
            </div>
            <button mat-raised-button color="primary" (click)="addOption()">add option</button>
        </div>
        <div *ngIf="slide['type'] == 'prompt'">
            <!-- prompt -->
            <div>
                <p>Text</p>
                <input class="betterInput" type="text" [(ngModel)]="slide['nextSlideText']"
                    (ngModelChange)="setEditedValue(true)">
            </div>
            <div>
                <p>Next Slide</p>
                <input class="betterInput" type="text" [(ngModel)]="slide['next']"
                    (ngModelChange)="setEditedValue(true)">
            </div>
        </div>
        <div *ngIf="slide['type'] == 'variable'">
            <!-- variable -->
            <div>
                <p>Variable</p>
                <input class="betterInput" type="text" [(ngModel)]="slide['variable']['name']"
                    (ngModelChange)="setEditedValue(true)">
            </div>
            <mat-form-field>
                <mat-label>Modifier</mat-label>
                <mat-select [(ngModel)]="slide['variable']['type']" (ngModelChange)="setEditedValue(true)">
                    @for (modifier of editorValues['variableModifier']; track modifier) {
                    <mat-option [value]="modifier.value">{{modifier.viewValue}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
            <div>
                <p>Value</p>
                <input class="betterInput" type="text" [(ngModel)]="slide['variable']['value']"
                    (ngModelChange)="setEditedValue(true)">
            </div>
            <div>
                <p>Next Slide</p>
                <input class="betterInput" type="text" [(ngModel)]="slide['next']"
                    (ngModelChange)="setEditedValue(true)">
            </div>
        </div>
        <div *ngIf="slide['type'] == 'playSound'">
            <!-- playSound -->
            <div>
                <p>Sound</p>
                <input class="betterInput" type="text" [(ngModel)]="slide['sound']"
                    (ngModelChange)="setEditedValue(true)">
            </div>
            <div>
                <p>Volume</p>
                <input class="betterInput" type="number" [(ngModel)]="slide['volume']" min="0.01" max="1" step="0.01"
                    (ngModelChange)="setEditedValue(true)">
            </div>
            <button mat-raised-button color="accent" (click)="tryToPlayAudio('slide')">Test Audio</button>
            <div>
                <p>Next Slide</p>
                <input class="betterInput" type="text" [(ngModel)]="slide['next']"
                    (ngModelChange)="setEditedValue(true)">
            </div>
        </div>
    </div>
    <div id="defaultDataEditor" *ngIf="currentEditorPage == 'default'">
        <h2 *ngIf="changesMade" class="warning">Current changes to these settings aren't saved!</h2>
        <h2 *ngIf="!doesThisStyleExist(styling['default']['choices'])" class="warning">Default choice Styling does not
            exist and will be ignored.</h2>
        <h2 *ngIf="!doesThisStyleExist(styling['default']['textBox'])" class="warning">Default textBox Styling does not
            exist and will be ignored.</h2>
        <h2 *ngIf="!doesThisStyleExist(styling['default']['nextSlide'])" class="warning">Default nextSlide Styling does
            not exist and will be ignored.</h2>
        <h2 *ngIf="!doesThisSlideExist(story['startSlide'])" class="warning">Default startSlide does not exist. It will
            use system default instead.</h2>
        <h2 *ngIf="story['defaultNextSlideText'] == ''" class="warning">Default Next slide text is empty, is this on
            purpose?</h2>
        <mat-form-field>
            <mat-label>Default choice Styling</mat-label>
            <mat-select [(ngModel)]="styling['default']['choices']">
                @for (style of getStyles(); track style) {
                <mat-option [value]="style">{{style}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Default textBox Styling</mat-label>
            <mat-select [(ngModel)]="styling['default']['textBox']">
                @for (style of getStyles(); track style) {
                <mat-option [value]="style">{{style}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Default nextSlide Styling</mat-label>
            <mat-select [(ngModel)]="styling['default']['nextSlide']">
                @for (style of getStyles(); track style) {
                <mat-option [value]="style">{{style}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        <div>
            <p>Default nextSlide Text</p>
            <input class="betterInput" type="text" [(ngModel)]="story['defaultNextSlideText']">
        </div>
        <mat-form-field>
            <mat-label>Default nextSlide Styling</mat-label>
            <mat-select [(ngModel)]="story['startSlide']">
                @for (slide of getSlides(); track slide) {
                <mat-option [value]="slide">slide {{slide}}: {{story['slides'][slide]['type']}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        <div>
            <p>Show exit button</p>
            <input type="checkbox" [(ngModel)]="story['showExitButton']">
        </div>
        <div>
            <p>Show save button</p>
            <input type="checkbox" [(ngModel)]="story['showSaveButton']">
        </div>
    </div>
    <div id="sceneEditor" *ngIf="currentEditorPage == 'scene'">
        <h2 *ngIf="changesMade" class="warning">Current changes to this scene aren't saved!</h2>
        <!-- selector of which scene -->
        <!-- button to clear autcomplete input -->
        <!-- name of scene in an input box, and a button to rename it. -->
        <!-- delete scene button -->
        <!-- music -->
        <!-- volume + tester -->
        <!-- ngfor
                styling key input - value input - delete styling row button
        -->
        <!-- add styling row button -->
    </div>
    <div id="styleEditor" *ngIf="currentEditorPage == 'style'">
        <h2 *ngIf="changesMade" class="warning">Current changes to this styling aren't saved!</h2>
        <!-- selector of which style -->
        <!-- button to clear autcomplete input -->
        <!-- name of style in an input box, and a button to rename it. -->
        <!-- delete style button -->
        <!-- ngfor
                styling key input - value input - delete styling row button
        -->
        <!-- add styling row button -->
    </div>
</div>
<div *ngIf="runtimeError">
    <img src="../../../../assets/icons/exitButton.png" alt="Close Button" style="cursor: pointer; user-select:none;"
        title="Exit Button" (click)="emitExitEvent()" *ngIf="showExitButton" class="image">
    <app-glitch-text [text]="'ERROR'" [locationStyling]="{'margin-top': '10%'}"
        [textStyling]="{'font-size': '4rem'}"></app-glitch-text>
    <app-glitch-text [text]="'A catastrophic failure happened.'" [locationStyling]="{'margin-top': '10%'}"
        [textStyling]="{'font-size': '2rem'}"></app-glitch-text>
    <app-glitch-text [text]="'We are not able to recover the Story.'" [locationStyling]="{'margin-top': '5%'}"
        [textStyling]="{'font-size': '1.3rem'}"></app-glitch-text>
</div>