.body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    background-color: rgb(12, 87, 87);
    margin: 1rem 1rem 0 1rem;
}

.screen {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(12, 87, 87);
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    height: 75%;
}

.textbox {
    background-color: #313338;
    border: 1px solid #ffffff;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    min-height: 20%;
    width: 90%;
}

.option {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #313338;
    border: 1px solid #ffffff;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    flex-grow: 1;
}

.option p {
    margin: 0;
}

.optionBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 1rem 0 1rem;
    border-radius: 1rem;
}