@import '../../../../styles.scss';

a {
    color: $primary-color;
    /* Set the default color to orange */
    text-decoration: none;
    /* Remove the default underline */
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: $backgroundShade1;
}

a:visited {
    color: $primary-color;
    /* Set the visited color to orange */
}

.navbar {
    display: flex;
    // flex-direction: column;
    justify-content: space-around;
}