@import '../../../../styles.scss';
@import url('https://fonts.cdnfonts.com/css/new-super-mario-font-u');


a:visited {
    color: $primary-color;
    /* Set the visited color to orange */
}

.navbar {
    display: flex;
    // flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
}

#aboutMii {
    border: 1px solid #d0d0bf;
    display: flex;
    border-radius: 4px;
    padding: 10px;
    margin: 1rem;
    column-gap: 1rem;
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}