<div>
    <img src="../../../../assets/images/navigator.png" alt="Click in the adress bar to switch pages."
        style="width: 90%; max-height: 3rem;">
</div>
<div class="content">
    <div id="aboutMii">
        <img src="../../../../assets/images/mii.png" style="width: 140px; height: 140px;" alt="My Mii">
        <div style="width: fit-content;" role="tabpanel">
            <p class="textInTabpanel">Name: Martijn</p>
            <p class="textInTabpanel">Country: Netherlands</p>
            <p class="textInTabpanel">Interests: Programming, gaming, being social
            </p>
        </div>
    </div>

    <div class="mario">
        <app-coin-clicker-game></app-coin-clicker-game>
    </div>
</div>
<div class="navbar">
    <a [routerLink]="['/404']">404</a>
    <a [routerLink]="['/404']" [queryParams]="{Editor: 'true'}">404E</a>
    <a [routerLink]="['/Editor']">Editor</a>
    <a [routerLink]="['/']">Home</a>
    <a [routerLink]="['/Railroad']">Railroad</a>
    <a [routerLink]="['/Railroad']" [queryParams]="{Editor: 'true'}">RailroadE</a>
    <a [routerLink]="['/Pages']">Pages</a>
</div>
<p (click)="logBuildData()">{{versionWord}}: <span>{{versionNumber}}</span></p>