<!-- thanks to https://github.com/iqbaladinur/switch-ui -->

<!-- switch-ui.component.html -->

<div class="basic-black" [ngClass]="wonderEffect">
    <div class="settingsMenu" *ngIf="settingsMenu">
        <div class="settings" style="display: flex; flex-direction: column; height: 100svh; overflow: hidden;">
            <header style="padding: 0px 30px 0px 30px;">
                <div style="display: flex; flex-direction: row;">
                    <img src="{{getDataFromGame(getGameData(selectedGameId), 'imageUrl')}}" alt="" class="small-logo">
                    <div style="display: flex; flex-direction: column;">
                        <p style="font-size: 25pt; margin-bottom: 14px;">{{getDataFromGame(getGameData(selectedGameId),
                            'name')}}</p>
                        <span *ngIf="!infotabInsteadOfSettings"
                            style="color: #959595">{{getDataFromGame(getGameData(selectedGameId),
                            'settings')['version']}} <span style="margin: 0 1rem 0 1rem">|</span>
                            {{getDataFromGame(getGameData(selectedGameId), 'settings')['publisher']}}</span>
                        <span *ngIf="infotabInsteadOfSettings && getGameInformation(selectedGameId)['developers']"
                            style="color: #959595">
                            <span>Made by </span><span
                                *ngFor="let developer of getGameInformation(selectedGameId)['developers']"> |
                                {{developer}}</span><span> |</span>
                        </span>
                    </div>
                </div>
                <hr>
            </header>
            <div style="flex: 1; display: flex; flex-direction: row; overflow: hidden;"
                *ngIf="infotabInsteadOfSettings">
                <div class="tabSelectMenu" style="flex: 1; overflow-y: scroll; overflow-x: hidden; height: 100%;">
                    <div class="tabSelectItem" [ngClass]="isTabSelected('info')" (click)="selectedTab = 'info'">
                        Information
                    </div>
                    <div class="tabSelectItem" [ngClass]="isTabSelected('gallery')" (click)="selectedTab = 'gallery'"
                        *ngIf="getGameInformation(selectedGameId)['images']">
                        Gallery
                    </div>
                </div>
                <div class="tabItems" style="flex: 2;" *ngIf="isTabSelected('info')">
                    <div *ngIf="infotabInsteadOfSettings && getGameInformation(selectedGameId)['keywords']"
                        style="color: #959595; display: flex; flex-direction: row;">
                        <mat-icon>label</mat-icon>
                        <div
                            style="color: #959595; display: flex; flex-direction: row; flex-wrap: wrap; font-size: 1.2rem; column-gap: 0.4rem;">
                            <span *ngFor="let developer of getGameInformation(selectedGameId)['keywords']"><span
                                    style="margin-right: 0.4rem;">|</span>{{developer}}</span><span>|</span>
                        </div>
                    </div>
                    <p style="font-size: 20px; white-space: pre-line;">{{getGameInformation(selectedGameId)['text']}}
                    </p>
                    <div class="tabSelectItem" *ngIf="getGameInformation(selectedGameId)['githubRepo']"
                        (click)="goToGame({'githubRepo': true, 'blank': true})"
                        style="font-size: 20px; margin: 1rem; display: flex; flex-direction: row; column-gap: 1rem;">
                        <img src="https://i.imgur.com/8wLb6AY.png" alt="" style="height: 1.5rem">
                        <p style="margin: 0"> Github Repo</p>
                    </div>
                </div>
                <div class="tabItems" style="flex: 2;" *ngIf="isTabSelected('gallery')">
                    <div *ngIf="selectedAnTabItem" style="display: flex; flex-direction: column;">
                        <div class="imageContainer">
                            <img src="{{getGameImage()}}">
                        </div>
                        <div
                            style="display: flex; flex-direction: row; justify-content: center; align-items: center; margin-top: 1rem;">
                            <button class="button-information centerIcon"
                                (click)="showNeighbourImage(-1)"><mat-icon>arrow_circle_left</mat-icon></button>
                            <button class="button-information centerIcon"
                                (click)="selectedAnTabItem = false"><mat-icon>fullscreen_exit</mat-icon></button>
                            <button class="button-information centerIcon"
                                (click)="showNeighbourImage(1)"><mat-icon>arrow_circle_right</mat-icon></button>

                        </div>
                    </div>
                    <div *ngIf="!selectedAnTabItem">
                        <div class="gallery"
                            style="display: flex; flex-direction: row; flex-wrap: wrap; margin-top: 1rem;">
                            <div *ngFor="let image of getGameInformation(selectedGameId)['images']"
                                (click)="showImage(getImageIndex(image))" class="galleryItem fake-game"
                                style="background-image: url({{image}});">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="flex: 1; display: flex; flex-direction: row;" *ngIf="!infotabInsteadOfSettings">
                <div class="tabSelectMenu" style="flex: 1;">
                    <div *ngFor="let tab of this.getGameSettings(this.selectedGameId)?.tabs" class="tabSelectItem"
                        [ngClass]="isTabSelected(tab)" (click)="selectedTab = tab">
                        {{tab}}
                    </div>
                </div>
                <div class="tabItems" style="flex: 2;">
                    <p *ngFor="let e of getSettingsByTab(selectedTab)">{{e}}</p>
                </div>
            </div>
            <div style="padding: 0px 30px 0px 30px; position: relative; bottom: 0;">
                <hr>
                <div class="footer">
                    <div class="status-mode">
                        <img src="../../../../assets/icons/switch/mode.svg" alt="Mode" class="my-auto mode">
                    </div>
                    <div class="information">
                        <div>
                            <button class="button-information" (click)="goToGame({'demoUrl': true, 'blank': true})"
                                *ngIf="infotabInsteadOfSettings && getGameInformation(selectedGameId)['demoUrl']">A</button>
                            <span
                                *ngIf="infotabInsteadOfSettings && getGameInformation(selectedGameId)['demoUrl']">Launch
                                Demo</span>
                            <button class="button-information" (click)="closeSettingsOrInfo()">B</button>
                            <span>Back</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="status-bar">
            <div class="profile">
                <a>
                    <!-- should do something with this -->
                    <img src="../../../../assets/images/mii.png" alt="Profile Image">
                </a>
                <p class="user">
                    OldMartijntje
                </p>
            </div>
            <div class="app-indicator">
                <div class="app-container">
                    <div class="flex" id="clock">
                        <p class="m-auto"><span id="clockNumber">{{currentTime}}</span> <span style="font-size: 1rem;"
                                id="clockAmPm">{{amOrPm}}</span></p>
                    </div>
                    <div class="wifi" style="padding-bottom: 2px;">
                        <svg width="33px" height="100%" viewBox="0 0 22 16" version="1.1"
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g id="Icons" stroke="none" stroke-width="1">
                                <g id="Rounded" transform="translate(-577.000000, -3702.000000)">
                                    <g id="Notification" transform="translate(100.000000, 3600.000000)">
                                        <g id="-Round-/-Notification-/-wifi"
                                            transform="translate(476.000000, 98.000000)">
                                            <g>
                                                <path
                                                    d="M2.06,10.06 C2.57,10.57 3.38,10.62 3.93,10.16 C8.6,6.32 15.38,6.32 20.06,10.15 C20.62,10.61 21.44,10.57 21.95,10.06 C22.54,9.47 22.5,8.49 21.85,7.96 C16.14,3.29 7.88,3.29 2.16,7.96 C1.51,8.48 1.46,9.46 2.06,10.06 Z M9.82,17.82 L11.29,19.29 C11.68,19.68 12.31,19.68 12.7,19.29 L14.17,17.82 C14.64,17.35 14.54,16.54 13.94,16.23 C12.72,15.6 11.26,15.6 10.03,16.23 C9.46,16.54 9.35,17.35 9.82,17.82 Z M6.09,14.09 C6.58,14.58 7.35,14.63 7.92,14.22 C10.36,12.49 13.64,12.49 16.08,14.22 C16.65,14.62 17.42,14.58 17.91,14.09 L17.92,14.08 C18.52,13.48 18.48,12.46 17.79,11.97 C14.35,9.48 9.66,9.48 6.21,11.97 C5.52,12.47 5.48,13.48 6.09,14.09 Z"
                                                    id="🔹-Icon-Color"></path>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </div>
                    <div class="battery">
                        <p>
                            18 <span style="font-size:1rem">%</span>
                        </p>
                        <div style="padding-top: 8px;">
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="45px" height="45px"
                                viewBox="0 0 92 92" enable-background="new 0 0 92 92" xml:space="preserve">
                                <path id="XMLID_1657_" d="M88,35h-3V24c0-2.2-1.7-4-4-4H4c-2.2,0-4,1.8-4,4v44c0,2.2,1.8,4,4,4h77c2.2,0,4-1.8,4-4V57h3
                                c2.2,0,4-1.4,4-3.6V38.6C92,36.4,90.2,35,88,35z M77,64H8V28h69v10.6v14.8V64z M29,54c0,2.2-1.8,4-4,4h-7c-2.2,0-4-1.8-4-4V38
                                c0-2.2,1.8-4,4-4h7c2.2,0,4,1.8,4,4V54z" />
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="game-list" #gameList (click)="snapToItem($event)" [ngClass]="getGridClass()">
            <div class="game" *ngFor="let game of games" [ngClass]="isGameSelected(game.id)">
                <a (click)="selectGame(game.id)">
                    <p class="game-title">
                        {{game.name}}
                    </p>
                    <img src="{{game['imageUrl']}}" width="100%">
                </a>
            </div>
            <div class="game fake-game fake-game-border" *ngFor="let game of emptyGameSlots"
                (click)="selectGame(game.id)" [ngClass]="isGameSelected(game.id)"></div>
            <div class="more-software fake-game" [ngClass]="isGameSelected(moreGamesButtonId)"
                *ngIf="!importedComponent" (click)="selectGame(moreGamesButtonId)">
                <a (click)="selectGame(moreGamesButtonId)" style="width:200px; height: 200px;">
                    <p class="game-title">
                        All Software
                    </p>
                    <img src="../../../../assets/icons/moreApps.png" width="100%">
                </a>
            </div>
            <div class="closing" *ngIf="!importedComponent"></div>
        </div>
        <div class="menu-container">
            <div class="menu">
                <button class="item">
                    <img src="../../../../assets/icons/switch/news.svg" class="m-auto">
                    <p class="desc">
                        news
                    </p>
                </button>
                <button class="item">
                    <img src="../../../../assets/icons/switch/eshop.svg" class="m-auto">
                    <p class="desc">
                        eShop
                    </p>
                </button>
                <button class="item">
                    <img src="../../../../assets/icons/switch/gallery.svg" class="m-auto">
                    <p class="desc">
                        gallery
                    </p>
                </button>
                <button class="item">
                    <img src="../../../../assets/icons/switch/controlls.svg" class="m-auto">
                    <p class="desc">
                        controller
                    </p>
                </button>
                <button class="item">
                    <img src="../../../../assets/icons/switch/settings.svg" class="m-auto">
                    <p class="desc">
                        setting
                    </p>
                </button>
                <button class="item">
                    <img src="../../../../assets/icons/switch/power.svg" class="m-auto">
                    <p class="desc">
                        power
                    </p>
                </button>
            </div>
        </div>
        <div style="padding: 0px 30px 0px 30px">
            <hr>
            <div class="footer">
                <div class="status-mode">
                    <img src="../../../../assets/icons/switch/mode.svg" alt="Mode" class="my-auto mode">
                </div>
                <div class="information">
                    <div *ngIf="selectedGameId != ''">
                        <button *ngIf="gameHasSettings(selectedGameId)" class="button-information"
                            (click)="openSettings()">+</button>
                        <span *ngIf="gameHasSettings(selectedGameId)">Options</span>
                        <button *ngIf="gameHasInfo(selectedGameId)" class="button-information"
                            (click)="openInfo()">I</button>
                        <span *ngIf="gameHasInfo(selectedGameId)">Info</span>
                        <button class="button-information" (click)="selectGame('')">X</button><span>Deselect</span>
                        <button *ngIf="doesGameExist(selectedGameId) && hasHREF(selectedGameId)"
                            class="button-information" (click)="goToGame({'blank': true})">A</button> <span
                            *ngIf="doesGameExist(selectedGameId) && hasHREF(selectedGameId)">Start</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>