<div style="display:flex; flex-direction: column; height: 100%;">
    <div id="popup" *ngIf="disclaimer">
        <p>For legal reasons: I did not make this game, this page is purely loading a website running {{gameName}}.

            This game might run better on <a href="{{gameUrl}}">{{gameUrl}}</a></p>
        <button (click)="hidePopup()"><mat-icon>close</mat-icon></button>
    </div>
    <div id="container" *ngIf="!disclaimer">
        <iframe #gameIframe [src]="sanitizedUrl" width="100%" height="100%" frameborder="0" (load)="focusIframe()"
            (click)="focusIframe()" (mouseenter)="focusIframe()" (mousemove)="focusIframe()"></iframe>
    </div>
    <div id="container" *ngIf="disclaimer">
        <h1 class="importantMessage">Click the disclaimer close button to play {{gameName}}!</h1>
    </div>
    <!-- <footer *ngIf="disclaimer">
        <button title="show overlay" (click)="mobile = !mobile"><mat-icon>keyboard_alt</mat-icon></button>
    </footer>
    <div id="overlay" *ngIf="!disclaimer && mobile">
        <button (click)="sendKey('w')" class="overlay-btn up"><mat-icon>arrow_upward</mat-icon></button>
        <button (click)="sendKey('a')" class="overlay-btn left"><mat-icon>arrow_back</mat-icon></button>
        <button (click)="sendKey('s')" class="overlay-btn down"><mat-icon>arrow_downward</mat-icon></button>
        <button (click)="sendKey('d')" class="overlay-btn right"><mat-icon>arrow_forward</mat-icon></button>
    </div> -->
</div>