::ng-deep body {
    background-color: #ffffff !important;
}

#popup {
    background-color: #ee3c44;
    white-space: pre-line;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#popup>p {
    width: 80%
}

#popup>button {
    border-radius: 1rem;
    background-color: #313338;
    color: #605df1;
    border: 0.1rem solid #605df1;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    margin: 1rem;

}

#container {
    flex: 2;
}

.importantMessage {
    color: #ee3c44;
}

#overlay {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay-btn {
    width: 50px;
    height: 50px;
    margin: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
}

.overlay-btn:active {
    background-color: rgba(255, 255, 255, 1);
}

.overlay-btn.up {
    margin-bottom: 40px;
}

.overlay-btn.down {
    margin-top: 40px;
}

.overlay-btn.left,
.overlay-btn.right {
    margin-top: -15px;
}