<app-ui-element [widthOfContent]="'800px'" [maxWidthOfContent]="'800px'">
    <div class="fullContainer" *ngIf="selectedADisc != -1">
        <app-visual-novel [scenes]="scenes" [story]="story" [styling]="styling" [currentSlide]="'1'" [editing]="false"
            [variables]="variables" (savingEvent)="handleSavingEvent($event)" (exitEvent)="handleExitEvent($event)">
        </app-visual-novel>
    </div>
    <div *ngIf="selectedADisc == -1" class="container">
        <app-glitch-text [text]="'Select your Story'" [locationStyling]="{'margin-top': '10%'}" [href]="''"
            [textStyling]="{'font-size': '2rem', 'user-select': 'none'}"></app-glitch-text>
        <div class="container disc-container">
            <div>
                <button (click)="selectOtherDisc(-1)" class="left-button-{{animateButtons[0]}}"></button>
            </div>
            <div class="disc" *ngFor="let disc of getDiscs(); let i = index">
                <div *ngIf="firstDiscShowedId + i == currentDiscDisplay" class="image-container">
                    <img src="../../../../assets/icons/portal1.png" alt="Selected" class="background-image">
                    <img src="{{disc.image}}" alt="Disc" title="Disc" class="image">
                </div>
                <div *ngIf="firstDiscShowedId + i != currentDiscDisplay" class="image-container">
                    <img src="../../../../assets/icons/portal2.png" alt="Unselected" class="background-image">
                    <img src="{{disc.image}}" alt="Disc" title="Disc" class="image">
                </div>
                <!-- <p>{{firstDiscShowedId + i}}</p> -->
            </div>
            <div>
                <button (click)="selectOtherDisc(1)" class="right-button-{{animateButtons[1]}}"></button>
            </div>
        </div>
        <div>
            <h1>{{getSelectedData().name}}</h1>
            <p>{{getSelectedData().description}}</p>
            <button (click)="selectDisc(currentDiscDisplay)">select</button>
        </div>
    </div>
</app-ui-element>