<!-- app.component.html or any other template file -->

<app-hover-glitch-text [displayText]="'Big Text'"></app-hover-glitch-text>
<app-hover-glitch-text [displayText]="'smoller version'" [displayTextStyle]="{
    'padding': '0rem 1rem',
    'border-radius': '0.4rem',
    'font-size': '2rem'
}"></app-hover-glitch-text>
<app-hover-glitch-text [displayText]="'mini text can be used for very long pieces of text. It\'s very customisable!'"
    [displayTextStyle]="{
    'padding': '0rem 0.5rem',
    'border-radius': '0.4rem',
    'font-size': '1rem'
}"></app-hover-glitch-text>
<app-hover-glitch-text [displayText]="'Empty styling example'" [displayTextStyle]="{}"></app-hover-glitch-text>