<div style="width: 100vw; height: 100vh;">
    <as-split direction="vertical" (dragEnd)="dragEndHorizontal($event)">
        <as-split-area [size]="80" minSize="20" maxSize="90">
            <as-split direction="horizontal" gutterSize="15">
                <as-split-area [size]="5" minSize="0" maxSize="25">
                    <p>Sidebar</p>
                </as-split-area>
                <as-split-area [size]="70" class="greyShade">
                    <!-- <p>Editor</p> -->
                    <div class="code-editor">
                        <ngx-monaco-editor fxFlex [options]="editorOptions" [(ngModel)]="code"
                            [style.height.px]="calculatedHeight" style="width: 100%;"
                            (init)="editorInit($event)"></ngx-monaco-editor>
                    </div>
                </as-split-area>
                <as-split-area [size]="25" minSize="10" maxSize="50">
                    <as-split direction="vertical">
                        <as-split-area [size]="40" minSize="10" maxSize="90">
                            <p>Help</p>
                        </as-split-area>
                        <as-split-area [size]="60">
                            <p>Screen</p>
                        </as-split-area>
                    </as-split>
                </as-split-area>
            </as-split>
        </as-split-area>
        <as-split-area [size]="20">
            <as-split direction="horizontal">
                <as-split-area [size]="40">
                    <p>Console</p>
                </as-split-area>
                <as-split-area [size]="60" minSize="10" maxSize="100">
                    <p>Debug</p>
                </as-split-area>
            </as-split>
        </as-split-area>
    </as-split>
</div>