<link rel="stylesheet" href="//unpkg.com/xp.css">

<article class="windows_xp" style="overflow: hidden;">
    <section *ngFor="let bookmark of bookmarks" cdkDrag>
        <div class="window window__tab" style="width: 400px"
            [ngStyle]="{ 'left': divs[bookmark['Id']].left, 'top': divs[bookmark['Id']].top, 'z-index': bookmark['Id'] + 3 }">
            <div class="title-bar">
                <div class="title-bar-text">{{bookmark['Title']}}</div>
                <div class="title-bar-controls">
                    <button aria-label="Minimize"></button>
                    <button aria-label="Maximize"></button>
                    <button aria-label="Close" (click)="deleteBookmark(bookmark['Id'])"></button>
                </div>
            </div>
            <div class="window-body" cdkDragDisabled="true">
                <menu role="tablist">
                    <button [attr.aria-selected]="isActiveTab(tab['Id'], bookmark['Id'], bookmark) ? 'true' : 'false'"
                        aria-controls="music" *ngFor="let tab of bookmark['Tabs']"
                        (click)="setActiveTab(tab['Id'], bookmark['Id'])">{{tab['Title']}}</button>
                </menu>
                <article role="tabpanel" *ngIf="bookmark['Tabs'].length > 0">
                    <p *ngFor="let textArea of bookmark['Tabs'][bookmark['ActiveTabId']]['Text']">{{textArea['Text']}}
                    </p>
                    <fieldset *ngFor="let radioPanel of bookmark['Tabs'][bookmark['ActiveTabId']]['RadioButtons']">
                        <legend>{{radioPanel['BoxTitle']}}</legend>
                        <div class="field-row" *ngFor="let radioButton of radioPanel['Options']">
                            <input type="radio" name="fieldset-example2">
                            <label for="radio29">{{radioButton['Text']}}</label>
                        </div>
                    </fieldset>
                    <section class="field-row"
                        *ngFor="let button of bookmark['Tabs'][bookmark['ActiveTabId']]['Buttons']">
                        <button>{{button['Text']}}</button>
                        <label>{{button['AfterText']}}</label>
                    </section>
                </article>
                <div style="display: flex; align-items:center;" *ngFor="let popup of bookmark['Popup']">
                    <img style="width: 25px; height: 25px;" src="{{popup['Img']}}" alt="">
                    <p>{{popup['Text']}}</p>
                </div>
                <section class="field-row" style="justify-content: flex-end">
                    <button *ngFor="let bottemButtons of bookmark['Buttons']">{{bottemButtons['Text']}}</button>
                </section>
            </div>
        </div>
    </section>
    <aside>
        <div class="taskbar">
            <button class="taskbar__start" (click)="routerNav([''])">
                <img class="taskbar__start--logo" src="//i.imgur.com/PzXcMsP.png" alt="Windows">
                Home
            </button>
        </div>
    </aside>
</article>