<link rel="stylesheet" href="//unpkg.com/xp.css">

<article class="windows_xp" style="overflow: hidden;">
    <section *ngFor="let bookmark of bookmarks" cdkDrag>
        <div class="window window__tab" *ngIf="bookmark['Type'] === 'WinXP'"
            [ngStyle]="{ 'left': getDivById(bookmark['Id']).left + 'vw', 'top': getDivById(bookmark['Id']).top + 'vh', 'z-index': bookmark['Id'] + 3, 'width': getWindowSize(bookmark, '400px') }">
            <div class="title-bar">
                <div class="title-bar-text">{{bookmark['Title']}}</div>
                <div class="title-bar-controls">
                    <button aria-label="Minimize" (click)="toggleMinimisedWindow(bookmark)"></button>
                    <button aria-label="Maximize" (click)="devInfo(bookmark)"></button>
                    <button aria-label="Close" (click)="executeCommand(bookmark['CloseButton'], bookmark)"></button>
                </div>
            </div>
            <div *ngIf="!bookmark['Minimised']" class="window-body" cdkDragDisabled="true">
                <p *ngIf="bookmark['TopText']">{{bookmark['TopText']}}
                </p>
                <menu role="tablist" style="flex-wrap: wrap-reverse; display: flex;">
                    <button [attr.aria-selected]="isActiveTab(tab['Id'], bookmark['Id'], bookmark) ? 'true' : 'false'"
                        aria-controls="music" *ngFor="let tab of bookmark['Tabs']"
                        (click)="setActiveTab(tab['Id'], bookmark['Id'])">{{tab['Title']}}</button>
                </menu>
                <article role="tabpanel" *ngIf="bookmark['Tabs'].length > 0">
                    <p *ngFor="let textArea of bookmark['Tabs'][bookmark['ActiveTabId']]['Text']"><a
                            *ngIf="textArea['Link']" href="{{textArea['Link']}}"
                            target="_blank">{{textArea['Text']}}</a><span
                            *ngIf="!textArea['Link']">{{textArea['Text']}}</span>
                    </p>
                    <fieldset *ngFor="let radioPanel of bookmark['Tabs'][bookmark['ActiveTabId']]['RadioButtons']">
                        <legend>{{radioPanel['BoxTitle']}}</legend>
                        <div class="field-row" *ngFor="let radioButton of radioPanel['Options']">
                            <input type="radio" name="fieldset-example2">
                            <label for="radio29">{{radioButton['Text']}}</label>
                        </div>
                    </fieldset>
                    <section class="field-row"
                        *ngFor="let button of bookmark['Tabs'][bookmark['ActiveTabId']]['Buttons']">
                        <button (click)="executeCommand(button, bookmark)">{{button['Text']}}</button>
                        <label>{{button['AfterText']}}</label>
                    </section>
                    <div *ngIf="bookmark['Tabs'][bookmark['ActiveTabId']]['InnerHTML']"
                        [innerHTML]="trustHTML(bookmark['Tabs'][bookmark['ActiveTabId']]['InnerHTML'])"></div>
                </article>
                <div *ngIf="bookmark['InnerHTML']" [innerHTML]="trustHTML(bookmark['InnerHTML'])"></div>
                <div style="display: flex; align-items:center; column-gap: 1rem; margin-left: 1rem;"
                    *ngFor="let popup of bookmark['Popup']">
                    <img style="width: 25px; height: 25px;" src="{{popup['Img']}}" alt="">
                    <p>{{popup['Text']}}</p>
                </div>
                <section class="field-row" style="justify-content: flex-end">
                    <button *ngFor="let bottemButtons of bookmark['Buttons']"
                        (click)="executeCommand(bottemButtons, bookmark)">{{bottemButtons['Text']}}</button>
                </section>
            </div>
        </div>
        <div class="window window__tab" *ngIf="bookmark['Type'] === 'Router' && showRouter" style="overflow: hidden;"
            [ngStyle]="{ 'left': getDivById(bookmark['Id']).left + 'vw', 'top': getDivById(bookmark['Id']).top + 'vh', 'z-index': bookmark['Id'] + 3, 'width': getWindowSize(bookmark, '400px') }">
            <div class="title-bar">
                <div style="display: flex; flex-direction: row;">
                    <img src="../../../../assets/icons/Internet.ico"
                        style="width: 18px; height: 18px; padding-top: 3px">
                    <div class="title-bar-text" style="padding-top: 5px;">
                        {{bookmark['Title']}}
                    </div>
                </div>
                <div class="title-bar-controls">
                    <button aria-label="Minimize" (click)="toggleMinimisedWindow(bookmark)"></button>
                    <button aria-label="Maximize" (click)="devInfo(bookmark)"></button>
                    <button aria-label="Close" (click)="executeCommand(bookmark['CloseButton'], bookmark)"></button>
                </div>
            </div>
            <div *ngIf="!bookmark['Minimised']" class="window-body no-top-margin no-left-margin" cdkDragDisabled="true">
                <div>
                    <header>
                        <button class="headerButton">File</button>
                        <button class="headerButton">Edit</button>
                        <button class="headerButton">View</button>
                        <button class="headerButton">Favorites</button>
                        <button class="headerButton">Tools</button>
                        <button class="headerButton">Help</button>
                    </header>
                    <hr class="solid no-top-margin">
                </div>
                <div>
                    <ng-content></ng-content>
                </div>

            </div>
        </div>

    </section>
    <aside>
        <div class="taskbar">
            <button class="taskbar__start" (click)="routerNav(['Home'])">
                <img class="taskbar__start--logo" src="//i.imgur.com/PzXcMsP.png" alt="Windows">
                Home
            </button>
        </div>
    </aside>
</article>