<button *ngIf="logButton" (click)="logGame()">Log game</button>
<div *ngIf="areAllDiscoveriesMet(['click'])" class="mario" role="tabpanel">
    <div *ngFor="let type of getObjectKeys(clickerGame['currency'])">
        <div *ngIf="areAllDiscoveriesMet(clickerGame['currency'][type]['require'])" style="font-size: 25px;">
            <img src="{{getIcon(type)}}" alt="" style="width:1rem;">
            <span class="marioText">
                {{roundDown(clickerGame['currency'][type]['amount'])}}<span class="marioText"
                    *ngIf="clickerGame['currency'][type]['max'] != undefined"> /
                    {{getMaximum(type)}}</span></span>

        </div>
    </div>
    <div *ngFor="let perSecondType of getObjectKeys(clickerGame['perSecond'])">
        <div *ngIf="areAllDiscoveriesMet(clickerGame['perSecond'][perSecondType]['require'])" style="font-size: 25px;">
            <img src="{{getIcon(perSecondType)}}" alt="" style="width:1rem;">
            <span class="marioText">
                {{roundDown(clickerGame['perSecond'][perSecondType]['amount'])}} <span class="marioText"
                    *ngIf="clickerGame['currency'][perSecondType]['max'] != undefined"> /
                    {{getMaximum(perSecondType)}}</span> Per Second</span>

        </div>
    </div>
</div>
<div class="flexBox">
    <button (click)="addCoin(1, true)" class="growButton"><img src="../../../../assets/icons/Retro-Coin-icon.png"
            alt="coin" style="width:1rem"></button>
</div>
<div class="flexBox">
    <div *ngFor="let shopItem of getObjectKeys(clickerGame['buys'])" class="growButton shrinkButton flexBox">
        <button (click)="buyItem(shopItem)" class="marioText growButton"
            *ngIf="areAllDiscoveriesMet(clickerGame['buys'][shopItem]['requires'])">Buy
            1 {{shopItem}},
            costs {{roundDownWithDiscount(clickerGame['buys'][shopItem]['cost']['amount'])}} <img
                src="{{getIcon(clickerGame['buys'][shopItem]['cost']['type'])}}"
                *ngIf="getIcon(clickerGame['buys'][shopItem]['cost']['type'])" alt="" style="width:1rem"><span
                *ngIf="clickerGame['buys'][shopItem]['cost']['mode'] == 'perSecond'">PS</span>, get
            {{totalAmountOfCurrency(roundDown(clickerGame['buys'][shopItem]['gives']['amount']))}} <img
                src="{{getIcon(clickerGame['buys'][shopItem]['gives']['type'])}}"
                *ngIf="getIcon(clickerGame['buys'][shopItem]['cost']['type'])" alt="" style="width:1rem"><span
                *ngIf="clickerGame['buys'][shopItem]['gives']['mode'] == 'perSecond'">PS</span>
        </button>
    </div>
    <div *ngFor="let shopItem of getObjectKeys(clickerGame['specialBuys'])" class="growButton shrinkButton flexBox">
        <button (click)="buyItem(shopItem)"
            *ngIf="areAllDiscoveriesMet(clickerGame['specialBuys'][shopItem]['requires']) && clickerGame['specialBuys'][shopItem]['gives']!= undefined"
            class="marioText growButton">Buy
            1 {{shopItem}},
            costs {{roundDownWithDiscount(clickerGame['specialBuys'][shopItem]['cost']['amount'])}} <img
                src="{{getIcon(clickerGame['specialBuys'][shopItem]['cost']['type'])}}"
                *ngIf="getIcon(clickerGame['specialBuys'][shopItem]['cost']['type'])" alt="" style="width:1rem"><span
                *ngIf="clickerGame['specialBuys'][shopItem]['cost']['mode'] == 'perSecond'">PS</span>, get
            {{totalAmountOfCurrency(roundDown(clickerGame['specialBuys'][shopItem]['gives']['amount']))}} <img
                src="{{getIcon(clickerGame['specialBuys'][shopItem]['gives']['type'])}}"
                *ngIf="getIcon(clickerGame['specialBuys'][shopItem]['cost']['type'])" alt="" style="width:1rem"><span
                *ngIf="clickerGame['specialBuys'][shopItem]['gives']['mode'] == 'perSecond'">PS</span>
        </button>
        <button (click)="buyItem(shopItem)"
            *ngIf="areAllDiscoveriesMet(clickerGame['specialBuys'][shopItem]['requires']) && clickerGame['specialBuys'][shopItem]['gives'] == undefined"
            class="marioText growButton">Buy
            1 {{shopItem}},
            costs {{roundDownWithDiscount(clickerGame['specialBuys'][shopItem]['cost']['amount'])}} <img
                src="{{getIcon(clickerGame['specialBuys'][shopItem]['cost']['type'])}}"
                *ngIf="getIcon(clickerGame['specialBuys'][shopItem]['cost']['type'])" alt="" style="width:1rem"><span
                *ngIf="clickerGame['specialBuys'][shopItem]['cost']['mode'] == 'perSecond'">PS</span>,
            {{clickerGame['specialBuys'][shopItem]['description']}}
        </button>
    </div>
</div>
<div class="flexBox">
    <div *ngFor="let tooltip of getObjectKeys(clickerGame['toolTip'])">
        <div *ngIf="areAllDiscoveriesMet(clickerGame['toolTip'][tooltip]['require'])">
            <button (click)="clickerGame['toolTip'][tooltip]['click'] = !clickerGame['toolTip'][tooltip]['click']"
                class="growButton">
                <span class="marioText">
                    {{clickerGame['toolTip'][tooltip]['title']}} tooltip</span>
            </button>
        </div>
    </div>
    <div *ngFor="let tooltip of getObjectKeys(clickerGame['toolTip'])">
        <div *ngIf="areAllDiscoveriesMet(clickerGame['toolTip'][tooltip]['require'])">
            <div *ngIf="clickerGame['toolTip'][tooltip]['click']">
                <p>{{clickerGame['toolTip'][tooltip]['text']}}</p>
            </div>
        </div>
    </div>
</div>

<div class="flexBox">
    <button (click)="clickerDataHandler(0)" *ngIf="areAllDiscoveriesMet(['1up'])" class="marioText growButton">Save
        Game
        <img src="../../../../assets/icons/save.ico" alt="" style="width:1rem"></button>
    <button (click)="clickerDataHandler(1)" *ngIf="areAllDiscoveriesMet(['1up'])" class="marioText growButton">Load
        Game
        <img src="../../../../assets/icons/load.ico" alt="" style="width:1rem"></button>
    <button (click)="resetGame()" *ngIf="areAllDiscoveriesMet(['1up'])" class="marioText growButton"><span
            *ngIf="deleteButton == 0">Reset Game</span><span *ngIf="deleteButton != 0">Confirm Reset</span>
        <img src="../../../../assets/icons/trash.ico" alt="" style="width:1rem"></button>
    <button (click)="clickerDataHandler(3)" *ngIf="areAllDiscoveriesMet(['1up']) && logButton"
        class="marioText growButton">Soft
        Delete
        <img src="../../../../assets/icons/trash.ico" alt="" style="width:1rem"></button>
</div>
<p *ngIf="areAllDiscoveriesMet(['1up'])">Auto saves in {{120 - clickerGame['autoSave']}} seconds.</p>
<div class="flexBox">
    <button (click)="export()" *ngIf="areAllDiscoveriesMet(['1up'])" class="marioText growButton">Export
        Save
        <img src="" alt="" style="width:1rem"></button>
    <button (click)="export(true)" *ngIf="areAllDiscoveriesMet(['1up']) && logButton"
        class="marioText growButton">Export Pure Save
        <img src="" alt="" style="width:1rem"></button>
    <input *ngIf="areAllDiscoveriesMet(['1up'])" class="marioText growButton" [(ngModel)]="exportTextbox" type="text">
    <button (click)="import()" *ngIf="areAllDiscoveriesMet(['1up'])" class="marioText growButton">Import
        Save
        <img src="" alt="" style="width:1rem"></button>
    <button (click)="import(true)" *ngIf="areAllDiscoveriesMet(['1up']) && logButton"
        class="marioText growButton">Import Pure Save
        <img src="" alt="" style="width:1rem"></button>
</div>
<div *ngIf="logButton" class="flexBox">
    <div *ngFor="let currency of getObjectKeys(clickerGame['currency'])" class="growButton">
        <span>{{currency}}:</span><input [(ngModel)]="clickerGame['currency'][currency]['amount']" type="number">
    </div>
    <div *ngFor="let currency of getObjectKeys(clickerGame['perSecond'])" class="growButton">
        <span>{{currency}}:</span><input [(ngModel)]="clickerGame['perSecond'][currency]['amount']" type="number">PS
    </div>
</div>