.marioText {
    font-family: 'New Super Mario Font U', sans-serif;
}

.shrinkButton {
    flex-shrink: 1
}

.growButton {
    flex-grow: 1;
    padding: 5px 0px 5px 0px
}

.flexBox {
    display: flex;
    flex-wrap: wrap;
    column-gap: 0.5rem;
}