<app-ui-element *ngIf="!pageFound">
    <div class="not-found-page-container">
        <div id="titleRow" class="not-found-container">
            <div *ngFor="let character of letters1; let i = index" (click)="handleClick(character)" class="letter large"
                [ngClass]="{'drop-out': character.dropped}">
                <p [style.transform]="'rotate(' + character.angle + 'deg)translateX('+character.offset[0]+'px)translateY('+character.offset[1]+'px)'"
                    *ngIf="character.value != ' '">{{character.value}}
                </p>
                <p *ngIf="character.value == ' '" style="width: 2rem"></p>
            </div>
        </div>
        <div id="subtext" class="not-found-container">
            <div *ngFor="let character of letters2; let i = index" (click)="handleClick(character)" class="letter small"
                [ngClass]="{'drop-out': character.dropped}">
                <p [style.transform]="'rotate(' + character.angle + 'deg)translateX('+character.offset[0]+'px)translateY('+character.offset[1]+'px)'"
                    *ngIf="character.value != ' '">{{character.value}}
                </p>
                <p *ngIf="character.value == ' '" style="width: 2rem"></p>
            </div>
        </div>
    </div>
</app-ui-element>
<div *ngIf="pageFound" style="display: flex; flex-direction: row; flex-wrap: wrap; gap: 2rem">
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/gWo12TtN9Kk?si=20CROUBvJaXmrUms"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <img src="https://i.imgur.com/W3reHr3.png" alt="" style="width: 25%">
    <h1>You were right, the page is found.</h1>
    <button (click)="ngOnInit()">I wanna go home.</button>
</div>