<div style="width: 100vw; height: 100vh;" (keydown)="onKeyPress($event)">
    <as-split direction="vertical">
        <as-split-area [size]="70" minSize="10">
            <as-split direction="horizontal" gutterSize="15">
                <as-split-area [size]="5" minSize="0" maxSize="25">
                    <div class="sidebar">
                        <div class="sidebarContent">
                            <!-- <p>Sidebar</p> -->
                            <input class="topSpace" matInput *ngIf="!sandBoxMode" type="text"
                                [(ngModel)]="syntaxHighlightLanguage" (input)="syntaxHighlightLanguageChanged()">
                            <button class="bottomSpace topSpace" mat-raised-button color="primary" *ngIf="!sandBoxMode"
                                (click)="logCode()">Log
                                CodeString</button>
                            <button class="bottomSpace" mat-raised-button color="primary" *ngIf="!sandBoxMode"
                                (click)="loadCode()">Load
                                from Localstorage</button>
                            <button class="bottomSpace" mat-raised-button color="primary" *ngIf="!sandBoxMode"
                                (click)="saveCode()">Save to
                                Localstorage</button>
                            <section class="example-section">
                                <span class="example-list-section">
                                    <mat-checkbox disabled="{{sandBoxMode}}" class="example-margin"
                                        [checked]="allComplete" [color]="task.color" [indeterminate]="someComplete()"
                                        (change)="setAll($event.checked)">
                                        {{task.name}}
                                    </mat-checkbox>
                                </span>
                                <span class="example-list-section">
                                    <ul>
                                        <li *ngFor="let subtask of task.subtasks">
                                            <mat-checkbox [(ngModel)]="subtask.completed" disabled="{{sandBoxMode}}"
                                                [color]="subtask.color" (ngModelChange)="updateAllComplete()"
                                                (change)="checkCode(true)">
                                                {{subtask.name}}
                                            </mat-checkbox>
                                        </li>
                                    </ul>
                                </span>
                            </section>
                            <p *ngIf="sandBoxMode">You can't manage Modules</p>
                            <mat-form-field>
                                <mat-label>Language Mode</mat-label>
                                <mat-select [(ngModel)]="language" disabled="{{sandBoxMode}}"
                                    (valueChange)="setLanguage($event)">
                                    <mat-option value="javascript">Javascript</mat-option>
                                    <mat-option value="MarjinScript">MarjinScript</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <footer>
                            <p (click)="logBuildData()">{{versionWord}}: <span>{{versionNumber}}</span></p>
                        </footer>
                    </div>
                </as-split-area>
                <as-split-area [size]="70" class="greyShade">
                    <!-- <p>Editor</p> -->
                    <div class="code-editor">
                        <ngx-monaco-editor fxFlex [options]="editorOptions" [(ngModel)]="code" style="width: 100%;"
                            (init)="editorInit($event)" (keyup)="checkCode()"></ngx-monaco-editor>
                    </div>
                </as-split-area>
                <as-split-area [size]="25" minSize="10">
                    <as-split direction="vertical">
                        <as-split-area [size]="40">
                            <p>Help</p>
                        </as-split-area>
                        <as-split-area [size]="60">
                            <!-- <p>Screen</p> -->
                            <ng-content></ng-content>
                        </as-split-area>
                    </as-split>
                </as-split-area>
            </as-split>
        </as-split-area>
        <as-split-area [size]="30">
            <as-split direction="horizontal">
                <as-split-area [size]="30" class="console-container">
                    <p>Console</p>
                    <div class="ConsoleField">
                        <div *ngFor="let message of consoleList" class="OutputField-Text">
                            <p *ngIf="message.type == 'error'" class="errorMessage"><span class="amountOfMessages"
                                    *ngIf="message.amount != undefined && message.amount > 1">{{message.amount}}x
                                </span>
                                {{formatMessage(message)}}</p>
                            <p *ngIf="message.type == 'warning'" class="warningMessage"><span class="amountOfMessages"
                                    *ngIf="message.amount != undefined && message.amount > 1">{{message.amount}}x
                                </span>
                                {{formatMessage(message)}}</p>
                            <p *ngIf="message.type == 'info'" class="infoMessage"><span class="amountOfMessages"
                                    *ngIf="message.amount != undefined && message.amount > 1">{{message.amount}}x
                                </span>
                                {{formatMessage(message)}}</p>
                        </div>
                    </div>
                    <input class="consoleInput" type="text" (keydown)="onKeyDown($event)"
                        [(ngModel)]="consoleWindowInput">
                </as-split-area>
                <as-split-area [size]="20">
                    <p>Output</p>
                    <div class="OutputField">
                        <div *ngFor="let message of outputList" class="OutputField-Text">
                            <p *ngIf="message.type == 'error'" class="errorMessage"><span class="amountOfMessages"
                                    *ngIf="message.amount != undefined && message.amount > 1">{{message.amount}}x
                                </span>{{formatMessage(message)}}</p>
                            <p *ngIf="message.type == 'warning'" class="warningMessage"><span class="amountOfMessages"
                                    *ngIf="message.amount != undefined && message.amount > 1">{{message.amount}}x
                                </span>{{formatMessage(message)}}</p>
                            <p *ngIf="message.type == 'info'" class="infoMessage"><span class="amountOfMessages"
                                    *ngIf="message.amount != undefined && message.amount > 1">{{message.amount}}x
                                </span>{{formatMessage(message)}}</p>
                        </div>
                    </div>
                </as-split-area>
                <as-split-area [size]="20">
                    <p>Problems</p>
                    <div class="OutputField">
                        <div *ngFor="let message of problemList" class="OutputField-Text">
                            <p *ngIf="message.type == 'error'" class="errorMessage"><span class="amountOfMessages"
                                    *ngIf="message.amount != undefined && message.amount > 1">{{message.amount}}x
                                </span>{{formatMessage(message,
                                false)}}
                            </p>
                            <p *ngIf="message.type == 'warning'" class="warningMessage"><span class="amountOfMessages"
                                    *ngIf="message.amount != undefined && message.amount > 1">{{message.amount}}x
                                </span>{{formatMessage(message,
                                false)}}</p>
                            <p *ngIf="message.type == 'info'" class="infoMessage"><span class="amountOfMessages"
                                    *ngIf="message.amount != undefined && message.amount > 1">{{message.amount}}x
                                </span>{{formatMessage(message,
                                false)}}</p>
                        </div>
                    </div>
                </as-split-area>
                <as-split-area [size]="30" minSize="10">
                    <!-- <p>Run</p> -->
                    <button mat-raised-button color="primary" class="marginLeftBottom" (click)="sendCodeToRunner()">Run
                        Code</button>
                    <button *ngIf="runDefaultPageButton" mat-raised-button color="primary" class="marginLeftBottom"
                        (click)="runDefaultPage()">Run
                        Default
                        Code</button>
                </as-split-area>
            </as-split>
        </as-split-area>
    </as-split>
</div>