@import '../../../../styles.scss';

as-split {
    overflow: inherit;

    ::ng-deep .as-split-gutter {
        background-color: $backgroundShade2 !important;
        align-items: flex-end !important;
        pointer-events: none;

        &>.as-split-gutter-icon {
            pointer-events: all;
            transition: all 0.3s;
            opacity: 0.6;

            &:hover {
                opacity: 1;
            }
        }
    }
}

textarea {
    width: 100%;
    background-color: $backgroundShade1;
    border: 0;
}

.noverflow {
    overflow-y: hidden !important;
}

.code-editor {
    min-height: 100%;
    display: flex;
    font-family: monospace;
}

#lineNumbers {
    padding: 10px;
    text-align: right;
    background-color: $backgroundShade1;
    margin: 0;
}

#codeContent {
    flex-grow: 1;
    padding: 10px;
}

.greyShade {
    background-color: $backgroundShade1;
}