<div style="width: 100vw; height: 100vh;">
    <as-split direction="vertical">
        <as-split-area [size]="70" minSize="20" maxSize="90">
            <as-split direction="horizontal" gutterSize="15">
                <as-split-area [size]="5" minSize="0" maxSize="25">
                    <p>Sidebar</p>
                    <input type="text" [(ngModel)]="syntaxHighlightLanguage" (input)="syntaxHighlightLanguageChanged()">
                    <button (click)="log()">Log CodeString</button>
                </as-split-area>
                <as-split-area [size]="70" class="greyShade">
                    <!-- <p>Editor</p> -->
                    <div class="code-editor">
                        <ngx-monaco-editor fxFlex [options]="editorOptions" [(ngModel)]="code" style="width: 100%;"
                            (init)="editorInit($event)"></ngx-monaco-editor>
                    </div>
                </as-split-area>
                <as-split-area [size]="25" minSize="10" maxSize="50">
                    <as-split direction="vertical">
                        <as-split-area [size]="40" minSize="10" maxSize="90">
                            <p>Help</p>
                        </as-split-area>
                        <as-split-area [size]="60">
                            <!-- <p>Screen</p> -->
                            <ng-content></ng-content>
                        </as-split-area>
                    </as-split>
                </as-split-area>
            </as-split>
        </as-split-area>
        <as-split-area [size]="30">
            <as-split direction="horizontal">
                <as-split-area [size]="40" class="console-container">
                    <p>Console</p>
                    <div class="ConsoleField">
                        <div *ngFor="let message of consoleList" class="OutputField-Text">
                            <p *ngIf="message.type == 'error'" class="errorMessage">{{message.message}}</p>
                            <p *ngIf="message.type == 'warning'" class="warningMessage">{{message.message}}</p>
                            <p *ngIf="message.type == 'info'" class="infoMessage">{{message.message}}</p>
                        </div>
                    </div>
                    <input class="consoleInput" type="text">
                </as-split-area>
                <as-split-area [size]="30">
                    <p>Output</p>
                    <div class="OutputField">
                        <div *ngFor="let message of outputList" class="OutputField-Text">
                            <p *ngIf="message.type == 'error'" class="errorMessage">{{message.message}}</p>
                            <p *ngIf="message.type == 'warning'" class="warningMessage">{{message.message}}</p>
                            <p *ngIf="message.type == 'info'" class="infoMessage">{{message.message}}</p>
                        </div>
                    </div>
                </as-split-area>
                <as-split-area [size]="30" minSize="10" maxSize="100">
                    <!-- <p>Run</p> -->
                    <mat-form-field>
                        <mat-label>Select an option</mat-label>
                        <mat-select [(ngModel)]="language">
                            <mat-option value="javascript">Javascript</mat-option>
                            <mat-option value="2">My own language</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <button mat-raised-button color="primary" (click)="sendCodeToRunner()">Run Code</button>
                </as-split-area>
            </as-split>
        </as-split-area>
    </as-split>
</div>