<div style="width: 100vw; height: 100vh;">
    <as-split direction="vertical">
        <as-split-area [size]="70" minSize="10">
            <as-split direction="horizontal" gutterSize="15">
                <as-split-area [size]="5" minSize="0" maxSize="25">
                    <p>Sidebar</p>
                    <input *ngIf="!sandBoxMode" type="text" [(ngModel)]="syntaxHighlightLanguage"
                        (input)="syntaxHighlightLanguageChanged()">
                    <button *ngIf="!sandBoxMode" (click)="logCode()">Log CodeString</button>
                    <button *ngIf="!sandBoxMode" (click)="loadCode()">Load from Localstorage</button>
                    <button *ngIf="!sandBoxMode" (click)="saveCode()">Save to Localstorage</button>
                </as-split-area>
                <as-split-area [size]="70" class="greyShade">
                    <!-- <p>Editor</p> -->
                    <div class="code-editor">
                        <ngx-monaco-editor fxFlex [options]="editorOptions" [(ngModel)]="code" style="width: 100%;"
                            (init)="editorInit($event)" (keyup)="checkCode()"></ngx-monaco-editor>
                    </div>
                </as-split-area>
                <as-split-area [size]="25" minSize="10">
                    <as-split direction="vertical">
                        <as-split-area [size]="40">
                            <p>Help</p>
                        </as-split-area>
                        <as-split-area [size]="60">
                            <!-- <p>Screen</p> -->
                            <ng-content></ng-content>
                        </as-split-area>
                    </as-split>
                </as-split-area>
            </as-split>
        </as-split-area>
        <as-split-area [size]="30">
            <as-split direction="horizontal">
                <as-split-area [size]="30" class="console-container">
                    <p>Console</p>
                    <div class="ConsoleField">
                        <div *ngFor="let message of consoleList" class="OutputField-Text">
                            <p *ngIf="message.type == 'error'" class="errorMessage">
                                {{formatMessage(message)}}</p>
                            <p *ngIf="message.type == 'warning'" class="warningMessage">
                                {{formatMessage(message)}}</p>
                            <p *ngIf="message.type == 'info'" class="infoMessage">
                                {{formatMessage(message)}}</p>
                        </div>
                    </div>
                    <input class="consoleInput" type="text" (keydown)="onKeyDown($event)"
                        [(ngModel)]="consoleWindowInput">
                </as-split-area>
                <as-split-area [size]="20">
                    <p>Output</p>
                    <div class="OutputField">
                        <div *ngFor="let message of outputList" class="OutputField-Text">
                            <p *ngIf="message.type == 'error'" class="errorMessage">{{formatMessage(message)}}</p>
                            <p *ngIf="message.type == 'warning'" class="warningMessage">{{formatMessage(message)}}</p>
                            <p *ngIf="message.type == 'info'" class="infoMessage">{{formatMessage(message)}}</p>
                        </div>
                    </div>
                </as-split-area>
                <as-split-area [size]="20">
                    <p>Problems</p>
                    <div class="OutputField">
                        <div *ngFor="let message of problemList" class="OutputField-Text">
                            <p *ngIf="message.type == 'error'" class="errorMessage">{{formatMessage(message, false)}}
                            </p>
                            <p *ngIf="message.type == 'warning'" class="warningMessage">{{formatMessage(message,
                                false)}}</p>
                            <p *ngIf="message.type == 'info'" class="infoMessage">{{formatMessage(message, false)}}</p>
                        </div>
                    </div>
                </as-split-area>
                <as-split-area [size]="30" minSize="10">
                    <!-- <p>Run</p> -->
                    <mat-form-field>
                        <mat-label>Language Mode</mat-label>
                        <mat-select [(ngModel)]="language" disabled="{{sandBoxMode}}">
                            <mat-option value="javascript">Javascript</mat-option>
                            <mat-option value="MarjinScript">MarjinScript</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <button mat-raised-button color="primary" (click)="sendCodeToRunner()">Run Code</button>
                </as-split-area>
            </as-split>
        </as-split-area>
    </as-split>
</div>