<!-- app.component.html or any other template file -->

<div class="container">
    <div style="display: flex; align-items: center; justify-content: center;">
        <app-hover-glitch-text [displayText]="'Choose your character!'"
            [displayTextStyle]="{'padding': '0.5rem', 'border-radius': '0.5rem'}"></app-hover-glitch-text>
    </div>


    <div class="selector-container">
        <button class="button" type="button" (click)="selectPlayer('mario')">
            <img class="button-image" src="https://assets.codepen.io/4175254/mario.png" alt="" />
            <span>Mario</span>
        </button>
        <button class="button" type="button" (click)="selectPlayer('luigi')">
            <img class="button-image" src="https://assets.codepen.io/4175254/luigi.png" alt="" />
            <span>Luigi</span>
        </button>
    </div>
    <div style="display: flex; align-items: center; justify-content: center;">
        <app-hover-glitch-text [displayText]="'Selector:'"
            [displayTextStyle]="{'padding': '0.5rem', 'border-radius': '0.5rem'}"></app-hover-glitch-text>
    </div>
    <div class="selector-container">
        <button class="button" type="button" (click)="switchToSwitchUI()">
            <span>Launch System</span>
        </button>
        <button class="button" type="button" (click)="pointlessButtonclick()">
            <span>Do nothing</span>
        </button>
        <!-- <button class="button" type="button" [routerLink]="['/Home']">
            <span>Homepage</span>
        </button> -->
    </div>
</div>