.container {
    position: relative;
    display: inline-block;
}

.magnifier {
    position: absolute;
    width: 150px;
    height: 150px;
    border: 2px solid black;
    border-radius: 50%;
    overflow: hidden;
    pointer-events: none;
    /* to ensure that the mouse events pass through the magnifier */
}

.zoomed-image {
    width: 300px;
    height: 300px;
    transform-origin: top left;
    position: relative;
}

.magnifier img {
    position: absolute;

}

.container,
.container img {
    display: block;
    width: auto;
    height: auto;
}