<div class="background-container" (touchend)="setMouseDownValue(0)" (mouseup)="setMouseDownValue(0)">
    <div class="container">
        <div id="editor">
            <header>
                <!-- add new button -->
                <div id="optionBar">
                    <div class="selectableTileMapper grid defaultIcon" (click)="setUIMode('inspect')"
                        tile="Inspect tile"
                        [ngClass]="{'selected': undefined == tilePlacementValue && uiMode == 'inspect'}">
                        <mat-icon>image_search</mat-icon>
                    </div>
                    <div class="selectableTileMapper grid defaultIcon hide-on-desktop" (click)="setUIMode('move')"
                        title="Free Move" [ngClass]="{'selected': undefined == tilePlacementValue && uiMode == 'move'}">
                        <mat-icon>mouse</mat-icon>
                    </div>
                    <div class="selectableTileMapper grid defaultIcon" [matMenuTriggerFor]="importExportSaveMenu"
                        title="Save">
                        <mat-icon>save</mat-icon>
                    </div>

                    <div class="selectableTileMapper grid defaultIcon" title="Value View"
                        (click)="mask = mask == 'value' ? '' : 'value'" [ngClass]="{'selected': mask == 'value'}">
                        <mat-icon>data_object</mat-icon>
                    </div>
                    <div class="selectableTileMapper grid defaultIcon" title="Toggle Grid" (click)="grid = !grid"
                        [ngClass]="{'selected': !grid}">
                        <mat-icon>border_clear</mat-icon>
                    </div>
                    <div class="selectableTileMapper grid defaultIcon" title="Clear Page" (click)="clearMap()">
                        <mat-icon *ngIf="!confirmClear">delete_forever</mat-icon>
                        <mat-icon *ngIf="confirmClear">dangerous</mat-icon>
                    </div>
                    <div *ngIf="!production" class="selectableTileMapper grid defaultIcon" title="Debug"
                        [matMenuTriggerFor]="debugMenu">
                        <mat-icon>developer_mode</mat-icon>
                    </div>
                </div>
                <div id="optionBar">
                    <div class="inputBox">
                        <label for="width">Width</label>
                        <input type="number" id="width" [(ngModel)]="tileMap.width">
                    </div>
                    <div class="inputBox">
                        <label for="height">Height</label>
                        <input type="number" id="height" [(ngModel)]="tileMap.height">
                    </div>
                    <button (click)="resizeTileMap()">
                        <span *ngIf="confirmApply">Confirm?</span>
                        <span *ngIf="!confirmApply">Apply Resize</span>
                    </button>
                    <div class="inputBox">
                        <label for="title">Title</label>
                        <input type="text" id="title" [(ngModel)]="tileMap.title">
                    </div>
                </div>
                <div id="selectionBar">
                    <div class="selectableTileMapper grid defaultIcon" (click)="addNewTileMap()" title="Add new tile.">
                        <mat-icon>add</mat-icon>
                    </div>
                    <div class="selectableTileMapper grid"
                        [ngClass]="{'selected': emptyTile.value == tilePlacementValue}"
                        (click)="selectTileMap(emptyTile, 1, $event)"
                        (contextmenu)="selectTileMap(emptyTile, 2, $event)" style="margin-right: 1rem;" title="Eraser.">
                        <img src="https://i.imgur.com/v0w8GZa.png" alt="">
                    </div>
                    <div class="selectableTileMapper grid" *ngFor="let tileMapper of tileDisplays"
                        [ngClass]="{'selected': tileMapper.value == tilePlacementValue, 'secondSelected': tileMapper.value == tileSecondPlacementValue && tileSecondPlacementValue != tilePlacementValue}"
                        (click)="selectTileMap(tileMapper, 1, $event)" title="Select tile."
                        (contextmenu)="selectTileMap(tileMapper, 2, $event)"
                        [ngStyle]="{'background-color': tileMapper.backgroundColor, 'color': tileMapper.color}">
                        <span *ngIf="tileMapper.type == 'text'"
                            [ngStyle]="{'background-color': tileMapper.backgroundColor, 'color': tileMapper.color}">{{tileMapper.displayValue}}</span>
                        <img *ngIf="tileMapper.type == 'image'" src="{{tileMapper.displayValue}}" alt="">
                        <mat-icon *ngIf="tileMapper.type == 'icon'">{{tileMapper.displayValue}}</mat-icon>
                    </div>
                </div>
            </header>
            <div id="editorContent" (mousedown)="onMouseDown($event)" #scrollableElement *ngIf="!generating.active"
                (touchstart)="setMouseDownValue(1)" (touchmove)="onTouchMove($event)"
                (contextmenu)="$event.preventDefault()">

                <div class="tileRow" *ngFor="let tileRow of tileMapData">
                    <div class="tile" *ngFor="let tile of tileRow" (click)="tileClick(tile, 1)"
                        [attr.id]="stringify(tile)" (mouseenter)="onMouseEnter(tile)" (mouseleave)="onMouseEnter(tile)"
                        (contextmenu)="tileClick(tile, 2)"
                        [ngClass]="{'inspect': undefined == tilePlacementValue && uiMode == 'inspect', 'grid': grid}"
                        [ngStyle]="{'background-color': getTileDisplayCached(tile.value).backgroundColor, 'color': getTileDisplayCached(tile.value).color}">
                        <span
                            [ngStyle]="{'background-color': getTileDisplayCached(tile.value).backgroundColor, 'color': getTileDisplayCached(tile.value).color}"
                            *ngIf="getTileDisplayCached(tile.value).type == 'text'">{{getTileDisplayCached(tile.value).displayValue}}
                        </span>
                        <img *ngIf="getTileDisplayCached(tile.value).type == 'image'"
                            src="{{getTileDisplayCached(tile.value).displayValue}}" alt="">
                        <mat-icon
                            [ngStyle]="{'background-color': getTileDisplayCached(tile.value).backgroundColor, 'color': getTileDisplayCached(tile.value).color}"
                            *ngIf="getTileDisplayCached(tile.value).type == 'icon'">{{getTileDisplayCached(tile.value).displayValue}}
                        </mat-icon>
                    </div>
                </div>
            </div>
            <div id="editorContent" *ngIf="generating.active" style="color:black">
                <h1>Generating...</h1>

            </div>
            <footer>
                <div class="tileMapEditor editorBar" *ngIf="tilePlacementValue != undefined">
                    <div class="selectableTileMapper grid unclickable"
                        [ngStyle]="{'background-color': getTileDisplayCached(tilePlacementValue).backgroundColor, 'color': getTileDisplayCached(tilePlacementValue).color}">
                        <span *ngIf="getTileDisplayCached(tilePlacementValue).type == 'text'"
                            [ngStyle]="{'background-color': getTileDisplayCached(tilePlacementValue).backgroundColor, 'color': getTileDisplayCached(tilePlacementValue).color}">{{getTileDisplayCached(tilePlacementValue).displayValue}}</span>
                        <img *ngIf="getTileDisplayCached(tilePlacementValue).type == 'image'"
                            src="{{getTileDisplayCached(tilePlacementValue).displayValue}}" alt="">
                        <mat-icon
                            *ngIf="getTileDisplayCached(tilePlacementValue).type == 'icon'">{{getTileDisplayCached(tilePlacementValue).displayValue}}</mat-icon>
                    </div>
                    <div class="tileMapEditor" *ngIf="tilePlacementValue == emptyTile.value" style="color:black">
                        <p>This is an empty tile. It is represented by the value {{tilePlacementValue}}</p>
                    </div>
                    <div class="tileMapEditor" *ngIf="tilePlacementValue != emptyTile.value">
                        <div class="inputBox">
                            <label for="value">value</label>
                            <input type="text" id="value"
                                [value]="stringify(getTileDisplayCached(tilePlacementValue).value)"
                                (input)="changeTileMapValue($event)">
                        </div>
                        <div class="inputBox">
                            <label for="background">background color</label>
                            <input type="text" id="background"
                                [(ngModel)]="getTileDisplayCached(tilePlacementValue).backgroundColor">
                        </div>
                        <div class="inputBox">
                            <label for="color">color</label>
                            <input type="text" id="color" [(ngModel)]="getTileDisplayCached(tilePlacementValue).color">
                        </div>
                        <div class="inputBox">
                            <label for="display">display value</label>
                            <input type="text" id="display"
                                [(ngModel)]="getTileDisplayCached(tilePlacementValue).displayValue">
                        </div>
                        <div class="inputBox">
                            <label for="type">type (text, image or icon)</label>
                            <input type="text" id="type" [(ngModel)]="getTileDisplayCached(tilePlacementValue).type">
                        </div>
                        <div>
                            <button (click)="deleteTileMap()">
                                <span *ngIf="confirmDelete">Confirm?</span>
                                <span *ngIf="!confirmDelete">Delete</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div id="todo">
                    <h1>todo</h1>
                    <span>5. add entity support</span><br>
                    <span>6. add layer support</span><br>
                    <span>8. rotate the map 90 degrees</span><br>
                    <span>9. select multiple tiles</span><br>
                    <span>9b. copy selection</span><br>
                    <span>9c. paste selection</span><br>
                    <span>9d. move selection</span><br>
                    <span>10. button to go to other pages</span><br>
                    <span>10b. link other pages to this one</span><br>
                </div>
            </footer>
        </div>
    </div>
</div>

<mat-menu #importExportSaveMenu="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="saveMenu">
        <mat-icon>save</mat-icon>
        <span>Save</span>
    </button>
    <button mat-menu-item [matMenuTriggerFor]="exportMenu">
        <mat-icon>ios_share</mat-icon>
        <span>Export</span>
    </button>
    <button mat-menu-item [matMenuTriggerFor]="importMenu">
        <mat-icon>save_alt</mat-icon>
        <span>Import</span>
    </button>
</mat-menu>

<mat-menu #exportMenu="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="exportMapMenu">
        <mat-icon>data_array</mat-icon>
        <span>Export Map</span>
    </button>
    <button mat-menu-item (click)="export(false, false, true, 'file', !parseToJSON)">
        <mat-icon>texture</mat-icon>
        <span>Export Textures</span>
    </button>
    <button mat-menu-item (click)="export(false, true, false, 'file', !parseToJSON)">
        <mat-icon>settings</mat-icon>
        <span>Export Settings</span>
    </button>
    <button mat-menu-item (click)="export(true, true, true, 'file', !parseToJSON)">
        <mat-icon>ios_share</mat-icon>
        <span>Export All</span>
    </button>
    <button mat-menu-item (click)="parseToJSON = !parseToJSON">
        <mat-icon>data_object</mat-icon>
        <span>{{parseToJSON ? 'Disable Parsing' : 'Enable Parsing'}}</span>
    </button>
</mat-menu>

<mat-menu #exportMapMenu="matMenu">
    <button mat-menu-item (click)="export(true, false, true, 'file', !parseToJSON)">
        <mat-icon>texture</mat-icon>
        <span>Export With Textures</span>
    </button>
    <button mat-menu-item (click)="export(true, false, false, 'file', !parseToJSON)">
        <mat-icon>data_object</mat-icon>
        <span>Export Plain Map</span>
    </button>
</mat-menu>

<mat-menu #saveMenu="matMenu">
    <div class="warning">
        <mat-icon>warning_amber</mat-icon>
        <span>Saving a single thing means that the other things will be forgotten, even if already saved before.</span>
    </div>
    <button mat-menu-item [matMenuTriggerFor]="saveMapMenu">
        <mat-icon>data_array</mat-icon>
        <span>Save Map</span>
    </button>
    <button mat-menu-item (click)="export(false, false, true, 'localstorage')">
        <mat-icon>texture</mat-icon>
        <span>Save Textures</span>
    </button>
    <button mat-menu-item (click)="export(false, true, false, 'localstorage')">
        <mat-icon>settings</mat-icon>
        <span>Save Settings</span>
    </button>
    <button mat-menu-item (click)="export(true, true, true, 'localstorage')">
        <mat-icon>save</mat-icon>
        <span>Save All</span>
    </button>
</mat-menu>

<mat-menu #saveMapMenu="matMenu">
    <button mat-menu-item (click)="export(true, false, true, 'localstorage')">
        <mat-icon>texture</mat-icon>
        <span>Save With Textures</span>
    </button>
    <button mat-menu-item (click)="export(true, false, false, 'localstorage')">
        <mat-icon>data_object</mat-icon>
        <span>Save Plain Map</span>
    </button>
</mat-menu>

<mat-menu #debugMenu="matMenu">
    <button mat-menu-item (click)="export(true, true, true, 'console', !parseToJSON)">
        <mat-icon>ios_share</mat-icon>
        <span>Export to Console</span>
    </button>
    <button mat-menu-item (click)="parseToJSON = !parseToJSON">
        <mat-icon>data_object</mat-icon>
        <span>{{parseToJSON ? 'Disable Parsing' : 'Enable Parsing'}}</span>
    </button>
</mat-menu>

<mat-menu #importMenu="matMenu">
    <input type="file" (change)="importEvent($event)">
</mat-menu>