<div class="background-container" (touchend)="onTouchEnd($event)" (mouseup)="onMouseUp($event)">
    <div class="container">
        <div id="editor">
            <header>
                <!-- add new button -->
                <div id="optionBar">
                    <div class="selectableTileMapper" (click)="setInspect()" tile="Inspect tile."
                        [ngClass]="{'selected': undefined == tilePlacementValue && uiMode == 'inspect'}"
                        [ngStyle]="{'background-color': 'white', 'color': 'black'}">
                        <mat-icon>image_search</mat-icon>
                    </div>
                    <div class="selectableTileMapper" (click)="setMove()" title="Free Move."
                        [ngClass]="{'selected': undefined == tilePlacementValue && uiMode == 'move'}"
                        [ngStyle]="{'background-color': 'white', 'color': 'black'}">
                        <mat-icon>mouse</mat-icon>
                    </div>
                    <div class="selectableTileMapper" (click)="1+1" title="Save."
                        [ngStyle]="{'background-color': 'white', 'color': 'black'}">
                        <mat-icon>save</mat-icon>
                    </div>
                    <div class="selectableTileMapper" (click)="1+1" title="Export."
                        [ngStyle]="{'background-color': 'white', 'color': 'black'}">
                        <mat-icon>ios_share</mat-icon>
                    </div>
                    <div class="selectableTileMapper" (click)="1+1" title="Import."
                        [ngStyle]="{'background-color': 'white', 'color': 'black'}">
                        <mat-icon>save_alt</mat-icon>
                    </div>
                </div>
                <div id="optionBar">
                    <div class="inputBox">
                        <label for="width">Width</label>
                        <input type="text" id="width" [(ngModel)]="tileMap.width">
                    </div>
                    <div class="inputBox">
                        <label for="height">Height</label>
                        <input type="text" id="height" [(ngModel)]="tileMap.height">
                    </div>
                    <button (click)="resizeTileMap()">
                        <span *ngIf="confirmApply">Confirm?</span>
                        <span *ngIf="!confirmApply">Apply Resize</span>
                    </button>
                </div>
                <div id="selectionBar">
                    <div class="selectableTileMapper" (click)="addNewTileMap()" title="Add new tile."
                        [ngStyle]="{'background-color': 'white', 'color': 'black'}">
                        <mat-icon>add</mat-icon>
                    </div>
                    <div class="selectableTileMapper" [ngClass]="{'selected': emptyTile.value == tilePlacementValue}"
                        (click)="selectTileMap(emptyTile)" style="margin-right: 1rem;" title="Eraser.">
                        <img src="https://i.imgur.com/v0w8GZa.png" alt="">
                    </div>
                    <div class="selectableTileMapper" *ngFor="let tileMapper of tileDisplays"
                        [ngClass]="{'selected': tileMapper.value == tilePlacementValue}"
                        (click)="selectTileMap(tileMapper)" title="Select tile."
                        [ngStyle]="{'background-color': tileMapper.backgroundColor, 'color': tileMapper.color}">
                        <span *ngIf="tileMapper.type == 'text'"
                            [ngStyle]="{'background-color': tileMapper.backgroundColor, 'color': tileMapper.color}">{{tileMapper.displayValue}}</span>
                        <img *ngIf="tileMapper.type == 'image'" src="{{tileMapper.displayValue}}" alt="">
                        <mat-icon *ngIf="tileMapper.type == 'icon'">{{tileMapper.displayValue}}</mat-icon>
                    </div>
                </div>
            </header>
            <div id="editorContent" (mousedown)="onMouseDown($event)" #scrollableElement *ngIf="!generating.active"
                (touchstart)="onTouchStart($event)" (touchmove)="onTouchMove($event)">

                <div class="tileRow" *ngFor="let tileRow of tileMapData">
                    <div class="tile" *ngFor="let tile of tileRow" (click)="tileClick(tile)" [attr.id]="stringify(tile)"
                        (mouseenter)="onMouseEnter(tile)" (mouseleave)="onMouseEnter(tile)"
                        [ngClass]="{'inspect': undefined == tilePlacementValue && uiMode == 'inspect'}"
                        [ngStyle]="{'background-color': getTileDisplayCached(tile.value).backgroundColor, 'color': getTileDisplayCached(tile.value).color}">
                        <span
                            [ngStyle]="{'background-color': getTileDisplayCached(tile.value).backgroundColor, 'color': getTileDisplayCached(tile.value).color}"
                            *ngIf="getTileDisplayCached(tile.value).type == 'text'">{{getTileDisplayCached(tile.value).displayValue}}
                        </span>
                        <img *ngIf="getTileDisplayCached(tile.value).type == 'image'"
                            src="{{getTileDisplayCached(tile.value).displayValue}}" alt="">
                        <mat-icon
                            [ngStyle]="{'background-color': getTileDisplayCached(tile.value).backgroundColor, 'color': getTileDisplayCached(tile.value).color}"
                            *ngIf="getTileDisplayCached(tile.value).type == 'icon'">{{getTileDisplayCached(tile.value).displayValue}}
                        </mat-icon>
                    </div>
                </div>
            </div>
            <div id="editorContent" *ngIf="generating.active" style="color:black">
                <h1>Generating...</h1>

            </div>
            <footer>
                <div class="tileMapEditor editorBar" *ngIf="tilePlacementValue != undefined">
                    <div class="selectableTileMapper unclickable"
                        [ngStyle]="{'background-color': getTileDisplayCached(tilePlacementValue).backgroundColor, 'color': getTileDisplayCached(tilePlacementValue).color}">
                        <span *ngIf="getTileDisplayCached(tilePlacementValue).type == 'text'"
                            [ngStyle]="{'background-color': getTileDisplayCached(tilePlacementValue).backgroundColor, 'color': getTileDisplayCached(tilePlacementValue).color}">{{getTileDisplayCached(tilePlacementValue).displayValue}}</span>
                        <img *ngIf="getTileDisplayCached(tilePlacementValue).type == 'image'"
                            src="{{getTileDisplayCached(tilePlacementValue).displayValue}}" alt="">
                        <mat-icon
                            *ngIf="getTileDisplayCached(tilePlacementValue).type == 'icon'">{{getTileDisplayCached(tilePlacementValue).displayValue}}</mat-icon>
                    </div>
                    <div class="tileMapEditor" *ngIf="tilePlacementValue == emptyTile.value" style="color:black">
                        <p>This is an empty tile. It is represented by the value {{tilePlacementValue}}</p>
                    </div>
                    <div class="tileMapEditor" *ngIf="tilePlacementValue != emptyTile.value">
                        <div class="inputBox">
                            <label for="value">value</label>
                            <input type="text" id="value"
                                [value]="stringify(getTileDisplayCached(tilePlacementValue).value)"
                                (input)="changeTileMapValue($event)">
                        </div>
                        <div class="inputBox">
                            <label for="background">background color</label>
                            <input type="text" id="background"
                                [(ngModel)]="getTileDisplayCached(tilePlacementValue).backgroundColor">
                        </div>
                        <div class="inputBox">
                            <label for="color">color</label>
                            <input type="text" id="color" [(ngModel)]="getTileDisplayCached(tilePlacementValue).color">
                        </div>
                        <div class="inputBox">
                            <label for="display">display value</label>
                            <input type="text" id="display"
                                [(ngModel)]="getTileDisplayCached(tilePlacementValue).displayValue">
                        </div>
                        <div class="inputBox">
                            <label for="type">type (text, image or icon)</label>
                            <input type="text" id="type" [(ngModel)]="getTileDisplayCached(tilePlacementValue).type">
                        </div>
                        <div>
                            <button (click)="deleteTileMap()">
                                <span *ngIf="confirmDelete">Confirm?</span>
                                <span *ngIf="!confirmDelete">Delete</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div id="todo">
                    <h1>todo</h1>
                    <span>2. exporting to json</span><br>
                    <span>3. importing from json</span><br>
                    <span>4. auto save to localstorage</span><br>
                    <span>5. add entity support</span><br>
                    <span>6. add layer support</span><br>
                    <span>7. clear button</span><br>
                    <span>8. rotate the map 90 degrees</span><br>
                    <span>9. select multiple tiles</span><br>
                    <span>9b. copy selection</span><br>
                    <span>9c. paste selection</span><br>
                    <span>9d. move selection</span><br>
                    <span>10. button to go to other pages</span><br>
                    <span>10b. link other pages to this one</span><br>
                    <span>11. display value mode</span><br>
                </div>
            </footer>
        </div>
    </div>
</div>