.background-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: url(https://i.imgur.com/G2Nvy7v.png);
    background-size: 100%;
}

#optionBar,
#selectionBar {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    width: 100%;
}

#editor {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#selectionBar.selectableTileMapper {
    height: 50px;
    width: 50px;
}

.background-container * {
    user-select: none;
}

.container {
    margin: 0px auto 0px auto;
    height: 100%;
    background: url(https://i.imgur.com/gJUoIg8.png);
}

#editorContent {
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
    overflow-x: scroll;
    width: 100%;
    flex-grow: 1;
    -webkit-overflow-scrolling: touch;
}

.tileRow {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.tile.inspect {
    cursor: help;
}

.selectableTileMapper,
.tile {
    flex: 0 0 auto;
    /* Add your tile styles here */
    border: 1px solid black;
    width: 50px;
    /* Adjust width as needed */
    height: 50px;
    /* Adjust height as needed */
    display: flex;
    justify-content: center;
    align-items: center;
}

.selectableTileMapper.selected,
.selectableTileMapper.selected {
    border: 2px solid yellow;
}

.tileMapEditor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.inputBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
}

img {
    width: 100%;
    height: 100%;
    pointer-events: none;
}

#todo {
    color: black;
    max-height: 8rem;
    overflow-y: scroll;
}

@media (max-width: 1024px) {
    .container {
        width: 100%;
        max-width: 100%;
        min-width: none;
    }

    .editorBar {
        overflow-y: scroll;
        height: 8rem;
    }

    #todo {
        display: none;
    }
}


@media (min-width: 768px) {
    .container {
        width: 90%;
        min-width: 1024px;
        max-width: 100%;
    }
}