<div id="terminalContainer">
    <header>
        <p>Terminal</p>
    </header>
    <div (mousedown)="onMouseDown($event)" (click)="onClick($event)" #terminalContainerDiv id="terminalContainerDiv">
        <div id="terminalBox">
            <div *ngFor="let line of history" class="line">
                <p *ngIf="line.type == 'input'"># {{line.text}}</p>
                <p *ngIf="line.type == 'output'">{{line.text}}</p>
            </div>
            <form>
                <label># </label>
                <input type="text" #terminalInput (keydown.enter)="onEnterPress()">
            </form>
        </div>

    </div>
</div>