<div style="overflow: hidden; max-width: 100%;" class="no-top-margin">
    <header>
        <button class="headerButton">File</button>
        <button class="headerButton">Edit</button>
        <button class="headerButton">View</button>
        <button class="headerButton">Favorites</button>
        <button class="headerButton">Tools</button>
        <button class="headerButton">Help</button>
    </header>
    <hr class="solid no-top-margin">
    <div style="display: flex; flex-direction: row;">


    </div>

    <footer>
        <div style="display: flex; flex-direction: row; justify-content: space-between;">
            <p style="margin: 0; padding: 8px; padding-top: 5px; padding-bottom: 4px;">Done</p>
            <div style="display: flex; flex-direction: row;">
                <img src="../../../../assets/icons/Internet.ico" style="width: 18px; height: 18px; padding-top: 3px">
                <p style="margin: 0; padding: 8px; padding-top: 5px; padding-bottom: 5px;">Internet
                </p>
            </div>
        </div>
    </footer>
</div>