<div style="overflow: hidden; max-width: 100%;" class="no-top-margin">
    <header>
        <button class="headerButton">File</button>
        <button class="headerButton">Edit</button>
        <button class="headerButton">View</button>
        <button class="headerButton">Favorites</button>
        <button class="headerButton">Tools</button>
        <button class="headerButton">Help</button>
    </header>
    <hr class="solid no-top-margin">
    <div style="display: flex; flex-direction: column;">
        <menu role="tablist" style="flex-wrap: wrap-reverse; display: flex;">
            <button [attr.aria-selected]="isActiveTab(tab['Id'], application) ? 'true' : 'false'" aria-controls="music"
                *ngFor="let tab of application['Tabs']"
                (click)="setActiveTab(tab['Id'], application)">{{tab['Title']}}</button>
        </menu>
        <article role="tabpanel" *ngIf="application['Tabs'].length > 0">
            <div *ngIf="comparePathToActiveTab('Processes', getCurrentTab(application))">
                <div class="managerContainer" style="min-height: 10rem">
                    <div class="managerHeader horizonFlex">
                        <div style="width:70%">Tasks</div>
                        <div style="width:20%">Children</div>
                        <div style="width:10%">Status</div>
                    </div>
                    <div class="horizonFlex applicationBar" *ngFor="let process of dictionaryOfShurtcuts"
                        (click)="selectProcess(process['Id'])"
                        [ngStyle]="getStylingIfTrue(isThisProcessSelected(process['Id']))">
                        <div style="width:70%">{{process['Name']}}</div>
                        <div style="width:20%">{{process['Count']}}</div>
                        <div style="width:10%">Running</div>
                    </div>
                </div>
                <div style="margin-top: 0.5rem;">
                    <button style="margin-right: 0.5rem;" (click)="refreshProcesses()">Refresh</button>
                    <button (click)="deleteProcessesByParentId()" *ngIf="selectedProcessId != -1">Kill All</button>
                </div>
            </div>
            <div *ngIf="comparePathToActiveTab('Startup', getCurrentTab(application))" class="managerContainer">
                <p>Startup</p>
            </div>
            <div *ngIf="comparePathToActiveTab('dev', getCurrentTab(application))" class="managerContainer">
                <p>dev</p>
            </div>

        </article>
    </div>

    <footer>
        <div style="display: flex; flex-direction: row; justify-content: space-between;">
            <p style="margin: 0; padding: 8px; padding-top: 5px; padding-bottom: 4px;">Piranha Plant</p>
            <div style="display: flex; flex-direction: row;">
                <img src="https://oldmartijntje.github.io/outdated-oldmartijntje-website/assets/icons/oldma.png"
                    style="width: 18px; height: 18px; padding-top: 3px">
                <p style="margin: 0; padding: 8px; padding-top: 5px; padding-bottom: 5px;">© OldMartijntje 2023
                </p>
            </div>
        </div>
    </footer>
</div>